{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<secton class="dash2">
    <!-- top banner -->
    <div class="content-wrapper general-bg">
        <div class="row" id="proBanner">
            <div class="col-12">
                <span class="d-flex align-items-center purchase-popup">
                    <img src="../../../static/img/logo/fav.png" width="70px" class="img-fluid" alt="" srcset="">
                    <h2 class="text-dark font-weight-bold ml-3">Accidents </h2>
                    <button class="btn btn-successs align-items-center p-3" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop"
                            style="margin-left: auto;margin-right:0;outline: none;border: none;"><i
                           class="las la-plus text-white" style="font-size:15px;"></i> New Accident Report</button>
                </span>
            </div>
        </div>

        <!-- Alerts  -->
        {% include 'alerts.html' %}


        <div class="row my-2">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="m-4">
                        <ul class="nav nav-tabs d-flex" id="myTab">
                            <li class="nav-item flex-fill">
                                <a href="#open" class="nav-link active" data-bs-toggle="tab">Accident Reports
                                    ({{count}})</a>
                            </li>
                            <li class="nav-item flex-fill">
                                <a href="#submitted" class="nav-link" data-bs-toggle="tab">Submited Reports
                                    ({{submit_count}})</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="open">
                                <!-- <h4 class="mt-2 text-dark">Accident Reports ({{count}})</h4> -->
                                <div class="card-body">
                                    <table id="example"
                                           class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                           style="width:100%">

                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Report No.</th>
                                                <th>Date of Accident</th>
                                                <th>Vehicle</th>
                                                <th>Document Stage</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in report %}
                                            <tr>
                                                <td>{{res.No}}</td>
                                                <td>{{res.TimeOfAccident}}</td>
                                                <td>{{res.Vehicle}}</td>
                                                <td>{{res.DocumentStage}}</td>
                                                <td>
                                                    <button class="btn btn-primary" data-bs-toggle="modal"
                                                            data-bs-target="#AccidentEdit" data-toggle="tooltip" data-placement="top"
                                                            title="edit">Edit <i class="fas fa-edit"></i>
                                                    </button>
                                                    <div class="modal fade" id="AccidentEdit"
                                                         data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                                         aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div
                                                             class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="staticBackdropLabel">
                                                                        <i class="las la-edit"></i> Edit Accident Report
                                                                        <span class="editSpan">{{res.No}}</span>
                                                                    </h5>
                                                                    <button type="button" class="btn-close btn-close-white"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="myForm needs-validation" action="" method="post" novalidate>
                                                                        {% csrf_token %}
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <input type="hidden" name="accidentNo" value="{{res.No}}">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <label class="form-label">Vehicle <span class="text-danger">*</span></label>
                                                                                <select class="form-select" name="vehicle" required>
                                                                                    <option selected disabled value="">Select Option</option>
                                                                                    {% for list in Vehicle_No %}
                                                                                    <option value="{{list.No_}}">{{list.Registration_No}}</option>
                                                                                    {% endfor %}                                    
                                                                                </select>
                                                                            </div>
                                                                        
                                                                            <div class="col-md-8">
                                                                                <label class="form-label">Driver <span class="text-danger">*</span></label>
                                                                                <select class="form-select" name="driver" required>
                                                                                    <option selected disabled value="">Select Option</option>
                                                                                    {% for list in drivers %}
                                                                                    <option value="{{list.No_}}">{{list.First_Name}}  {{list.Middle_Name}} {{list.Last_Name}}</option>
                                                                                    {% endfor %}                                    
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-6">
                                                                                <label for="" class="form-label">Date of Accident<span class="text-danger">*</span></label>
                                                                                <input type="date" name="dateOfAccident" class="form-control" required>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <label for="" class="form-label">Time of Accident<span class="text-danger">*</span></label>
                                                                                <input type="time" name="timeOfAccident" class="form-control" required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <label for="" class="form-label">Description of Accident<span class="text-danger">*</span></label>
                                                                                <textarea name="descriptionOfAccident" class="form-control" required></textarea>
                                                                                
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <label for="" class="form-label">Location of Accident<span class="text-danger">*</span></label>
                                                                                <input type="text" name="location" class="form-control" required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-7">
                                                                                <label for="" class="form-label">Police station<span class="text-danger">*</span></label>
                                                                                <input type="text" name="policeStation" class="form-control" required>
                                                                            </div>
                                                                        
                                                                            <div class="col-md-5">
                                                                                <label for="" class="form-label">OB Number<span class="text-danger">*</span></label>
                                                                                <input type="text" name="oBNo" class="form-control" required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <label class="form-label">Vehicle status <span class="text-danger">*</span></label>
                                                                                <select class="form-select" name="insuranceStatus" required>
                                                                                    <option selected disabled value="">Select Option</option>
                                                                                    <option value="1">Active</option>
                                                                                    <option value="2">Inactive</option>
                                                                                                                        
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <input type="hidden" name="myAction" value="modify">
                                                                            </div>
                                                                        </div>
                                                                        
                                                                        <button type="submit" id="sasa" class="btn btn-success my-3 w-100">Submit</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="{% url 'AccidentDetails' res.No %}"
                                                       class="btn btn-success btn-icon-text" type="button"
                                                       data-toggle="tooltip" data-placement="top" title="Click to View">
                                                        View
                                                        <i class="far fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>                                                                                       
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="submitted">
                                <div class="card-body">
                                    <table id="example"
                                           class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                           style="width:100%">

                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Report No.</th>
                                                <th>Date of Accident</th>
                                                <th>Vehicle</th>
                                                <th>Document Stage</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in submitted %}
                                            <tr>
                                                <td>{{res.No}}</td>
                                                <td>{{res.TimeOfAccident}}</td>
                                                <td>{{res.Vehicle}}</td>
                                                <td>{{res.DocumentStage}}</td>
                                                <td>
                                                    <button class="btn btn-primary" data-bs-toggle="modal"
                                                            data-bs-target="#AccidentEdit" data-toggle="tooltip" data-placement="top"
                                                            title="edit">Edit <i class="fas fa-edit"></i>
                                                    </button>
                                                    <div class="modal fade" id="AccidentEdit"
                                                         data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                                         aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div
                                                             class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="staticBackdropLabel">
                                                                        <i class="las la-edit"></i> Edit Accident Report
                                                                        <span class="editSpan">{{res.No}}</span>
                                                                    </h5>
                                                                    <button type="button" class="btn-close btn-close-white"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="myForm needs-validation" action="" method="post" novalidate>
                                                                        {% csrf_token %}
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <input type="hidden" name="accidentNo" value="{{res.No}}">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-4">
                                                                                <label class="form-label">Vehicle <span class="text-danger">*</span></label>
                                                                                <select class="form-select" name="vehicle" required>
                                                                                    <option selected disabled value="">Select Option</option>
                                                                                    {% for list in Vehicle_No %}
                                                                                    <option value="{{list.No_}}">{{list.Registration_No}}</option>
                                                                                    {% endfor %}                                    
                                                                                </select>
                                                                            </div>
                                                                        
                                                                            <div class="col-md-8">
                                                                                <label class="form-label">Driver <span class="text-danger">*</span></label>
                                                                                <select class="form-select" name="driver" required>
                                                                                    <option selected disabled value="">Select Option</option>
                                                                                    {% for list in drivers %}
                                                                                    <option value="{{list.No_}}">{{list.First_Name}}  {{list.Middle_Name}} {{list.Last_Name}}</option>
                                                                                    {% endfor %}                                    
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-6">
                                                                                <label for="" class="form-label">Date of Accident<span class="text-danger">*</span></label>
                                                                                <input type="date" name="dateOfAccident" class="form-control" required>
                                                                            </div>
                                                                            <div class="col-md-6">
                                                                                <label for="" class="form-label">Time of Accident<span class="text-danger">*</span></label>
                                                                                <input type="time" name="timeOfAccident" class="form-control" required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <label for="" class="form-label">Description of Accident<span class="text-danger">*</span></label>
                                                                                <textarea name="descriptionOfAccident" class="form-control" required></textarea>
                                                                                
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <label for="" class="form-label">Location of Accident<span class="text-danger">*</span></label>
                                                                                <input type="text" name="location" class="form-control" required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-7">
                                                                                <label for="" class="form-label">Police station<span class="text-danger">*</span></label>
                                                                                <input type="text" name="policeStation" class="form-control" required>
                                                                            </div>
                                                                        
                                                                            <div class="col-md-5">
                                                                                <label for="" class="form-label">OB Number<span class="text-danger">*</span></label>
                                                                                <input type="text" name="oBNo" class="form-control" required>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <label class="form-label">Vehicle status <span class="text-danger">*</span></label>
                                                                                <select class="form-select" name="insuranceStatus" required>
                                                                                    <option selected disabled value="">Select Option</option>
                                                                                    <option value="1">Active</option>
                                                                                    <option value="2">Inactive</option>
                                                                                                                        
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <input type="hidden" name="myAction" value="modify">
                                                                            </div>
                                                                        </div>
                                                                        
                                                                        <button type="submit" id="sasa" class="btn btn-success my-3 w-100">Submit</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="{% url 'AccidentDetails' res.No %}"
                                                       class="btn btn-success btn-icon-text" type="button"
                                                       data-toggle="tooltip" data-placement="top" title="Click to View">
                                                        View
                                                        <i class="far fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>                                                                                       
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">New Accident
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="myForm needs-validation" action="" method="post" novalidate>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" name="accidentNo" value="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label class="form-label">Vehicle <span class="text-danger">*</span></label>
                                    <select class="form-select" name="vehicle" required>
                                        <option selected disabled value="">Select Option</option>
                                        {% for list in Vehicle_No %}
                                        <option value="{{list.No_}}">{{list.Registration_No}}</option>
                                        {% endfor %}                                    
                                    </select>
                                </div>
                            
                                <div class="col-md-8">
                                    <label class="form-label">Driver <span class="text-danger">*</span></label>
                                    <select class="form-select" name="driver" required>
                                        <option selected disabled value="">Select Option</option>
                                        {% for list in drivers %}
                                        <option value="{{list.No_}}">{{list.First_Name}}  {{list.Middle_Name}} {{list.Last_Name}}</option>
                                        {% endfor %}                                    
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="" class="form-label">Date of Accident<span class="text-danger">*</span></label>
                                    <input type="date" name="dateOfAccident" class="form-control" required>
                                </div>
                                <div class="col-md-6">
                                    <label for="" class="form-label">Time of Accident<span class="text-danger">*</span></label>
                                    <input type="time" name="timeOfAccident" class="form-control" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="" class="form-label">Description of Accident<span class="text-danger">*</span></label>
                                    <textarea name="descriptionOfAccident" class="form-control" required></textarea>
                                    
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="" class="form-label">Location of Accident<span class="text-danger">*</span></label>
                                    <input type="text" name="location" class="form-control" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-7">
                                    <label for="" class="form-label">Police station<span class="text-danger">*</span></label>
                                    <input type="text" name="policeStation" class="form-control" required>
                                </div>
                            
                                <div class="col-md-5">
                                    <label for="" class="form-label">OB Number<span class="text-danger">*</span></label>
                                    <input type="text" name="oBNo" class="form-control" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="form-label">Vehicle status <span class="text-danger">*</span></label>
                                    <select class="form-select" name="insuranceStatus" required>
                                        <option selected disabled value="">Select Option</option>
                                        <option value="1">Repairable</option>
                                        <option value="2">Written off</option>
                                                                            
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" name="myAction" value="insert">
                                </div>
                            </div>
                            
                            <button type="submit" id="sasa" class="btn btn-success my-3 w-100">Add Report</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>

</secton>

{% endblock %}