{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<section class="dash2">
    <!-- top banner -->
    <div class="content-wrapper general-bg">
        <div class="row" id="proBanner">
            <div class="col-12">
                <span class="d-flex align-items-center purchase-popup">
                    <img src="../../../static/img/logo/fav.png" width="70px" class="img-fluid" alt="" srcset="">
                    <h2 class="text-dark font-weight-bold ml-3">Government Vehicle Check Unit</h2>
                    <button class="btn btn-successs align-items-center p-3" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"
                        style="margin-left: auto;margin-right:0;outline: none;border: none;"><i
                            class="las la-plus text-white" style="font-size:15px;"></i> New Report</button>
                </span>
            </div>
        </div>

        <!-- Alerts  -->
        {% include 'alerts.html' %}
        <div class="row my-2">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="m-4">
                        <ul class="nav nav-tabs d-flex" id="myTab">
                            <li class="nav-item flex-fill">
                                <a href="#open" class="nav-link active" data-bs-toggle="tab">Open Reports
                                    ({{openRequest|length}})</a>
                            </li>
                            <li class="nav-item flex-fill">
                                <a href="#submitted" class="nav-link" data-bs-toggle="tab">Submitted Reports
                                    ({{submitted|length}})</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="open">
                                <!-- <h4 class="mt-2 text-dark">Accident Reports ({{count}})</h4> -->
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">

                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Report No.</th>
                                                <th>Date</th>
                                                <th>Vehicle</th>
                                                <th>Vehicle Location</th>
                                                <th>Driver</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in openRequest %}
                                            <tr>
                                                <td>{{res.GCU_No}}</td>
                                                <td>{{res.Date}}</td>
                                                <td>{{res.Vehicle_Registration_No}}</td>
                                                <td>{{res.Location_Of_The_Vehicle}}</td>
                                                <td>{{res.Driver_Name}}</td>
                                                <td>
                                                    <a href="{% url 'gvcuDetails' res.GCU_No %}"
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View">
                                                        View
                                                        <i class="far fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="submitted">
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">

                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Report No.</th>
                                                <th>Date</th>
                                                <th>Vehicle</th>
                                                <th>Vehicle Location</th>
                                                <th>Driver</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in submitted %}
                                            <tr>
                                                <td>{{res.GCU_No}}</td>
                                                <td>{{res.Date}}</td>
                                                <td>{{res.Vehicle_Registration_No}}</td>
                                                <td>{{res.Location_Of_The_Vehicle}}</td>
                                                <td>{{res.Driver_Name}}</td>
                                                <td>
                                                    <a href="{% url 'gvcuDetails' res.GCU_No %}"
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View">
                                                        View
                                                        <i class="far fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">GovernMent Check Unit Card
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="myForm needs-validation" action="" method="post" novalidate>
                            {% csrf_token %}
                            <input type="hidden" name="gcuNo" value="">
                            <div class="row gx-2">
                                <div class="col-md-4">
                                    <label for="" class="form-label">Date of GVCU<span
                                            class="text-danger">*</span></label>
                                    <input type="date" name="date" class="form-control" required>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Vehicle <span class="text-danger">*</span></label>
                                    <select class="form-select" name="vehicle" required>
                                        <option selected disabled value="0">--Select--</option>
                                        {% for list in vehicles %}
                                        <option value="{{list.No_}}"> {{list.Description}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div class="col-md-4">
                                    <label class="form-label">Driver <span class="text-danger">*</span></label>
                                    <select class="form-select" name="driver" required>
                                        <option selected disabled value="0">--Select--</option>
                                        {% for driver in drivers %}
                                        <option value="{{driver.No_}}">{{driver.First_Name}} {{driver.Middle_Name}}
                                            {{driver.Last_Name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row gx-2">
                                <div class="col-md-4">
                                    <label for="" class="form-label">Nature Of Irregularity<span
                                            class="text-danger">*</span></label>
                                    <input type="text" name="natureOfIrregularity" class="form-control" required>
                                </div>
                                <div class="col-md-4">
                                    <label class="form-label">Surcharge</label>
                                    <input type="text" name="surcharge" class="form-control" placeholder="0.00">
                                </div>
                                <div class="col-md-4">
                                    <label for="" class="form-label">Vehicle Location<span
                                            class="text-danger">*</span></label>
                                    <input type="text" name="locationOfTheVehicle" class="form-control" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" name="myAction" value="insert">
                                </div>
                            </div>

                            <button type="submit" id="sasa" class="btn btn-success my-3 w-100">Add Report</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}GVCU_Details