{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<section class="dash2">
    <div class="content-wrapper general-bg">
        <div class="row" id="proBanner">
            <div class="col-12">
                <span class="d-flex align-items-center purchase-popup">
                    <img src="../../../static/img/logo/fav.png" width="70px" class="img-fluid" alt="" srcset="">
                    <h2 class="text-dark font-weight-bold ml-3"> Vehicle Inspection </h2>
                    <button class="btn btn-successs align-items-center p-3" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"
                        style="margin-left: auto;margin-right:0;outline: none;border: none;"><i
                            class="las la-plus text-white" style="font-size:15px;"></i> New Inspection Request</button>
                </span>
            </div>
        </div>

        <!-- Alerts  -->
        {% include 'alerts.html' %}


        <div class="row my-2">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="m-4">
                        <ul class="nav nav-tabs d-flex" id="myTab">
                            <li class="nav-item flex-fill">
                                <a href="#home" class="nav-link active" data-bs-toggle="tab">Open
                                    ({{count}})</a>
                            </li>
                            <li class="nav-item flex-fill">
                                <a href="#approved" class="nav-link" data-bs-toggle="tab">Approved
                                    ({{counter}})</a>
                            </li>
                            <li class="nav-item flex-fill">
                                <a href="#inspected" class="nav-link" data-bs-toggle="tab">Inspected
                                    ({{inspected|length}})</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="home">
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">

                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Request No.</th>
                                                <th>Date Requested</th>
                                                <th>Vehicle</th>
                                                <th>Requested By</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in open %}
                                            {% if res.Rejected_By_Approver == True and res.Status == 'Open' %}
                                            <tr>
                                                <td>{{res.No}}</td>
                                                <td>{{res.Date}}</td>
                                                <td>{{res.Vehicle}}</td>
                                                <td>{{res.CreatedBy }}</td>
                                                <td>
                                                    <button class="btn btn-primary" data-bs-toggle="modal"
                                                        data-bs-target="#" data-toggle="tooltip" data-placement="top"
                                                        title="edit">Edit <i class="fas fa-edit"></i>
                                                    </button>
                                                    <a href="{% url 'VehicleInspectionDetails' res.No %}"
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View">
                                                        View
                                                        <i class="far fa-eye"></i>
                                                    </a>
                                                    <div class="modal fade" id="" data-bs-backdrop="static"
                                                        data-bs-keyboard="false" tabindex="-1"
                                                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div
                                                            class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="staticBackdropLabel">
                                                                        <i class="las la-edit"></i> Edit Imprest
                                                                        <span class="editSpan">{{res.No_}}</span>
                                                                    </h5>
                                                                    <button type="button"
                                                                        class="btn-close btn-close-white"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="myForm needs-validation" action=""
                                                                        method="post" novalidate>
                                                                        {% csrf_token %}
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <input type="hidden" name="insNo"
                                                                                    value="{{res.No}}">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <label class="form-label">Vehicle <span
                                                                                        class="text-danger">*</span></label>
                                                                                <select class="form-select"
                                                                                    name="vehicle" required>
                                                                                    <option selected
                                                                                        value="{{ res.Vehicle }}">
                                                                                        {{ res.Vehicle }}</option>
                                                                                    {% for list in Vehicle_No %}
                                                                                    <option value="{{ list.No_ }}">
                                                                                        {{ list.Registration_No }}
                                                                                    </option>
                                                                                    {% endfor %}
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <label for=""
                                                                                    class="form-label">Driver</label>
                                                                                <select class="form-select"
                                                                                    name="driver" required>
                                                                                    <option selected disabled value="">
                                                                                        Select Option</option>
                                                                                    {% for list in drivers %}
                                                                                    <option value="{{list.No_}}">
                                                                                        {{list.First_Name}}
                                                                                        {{list.Middle_Name}}
                                                                                        {{list.Last_Name}}</option>
                                                                                    {% endfor %}
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <label for=""
                                                                                    class="form-label">Mechanical
                                                                                    Inspector</label>
                                                                                <select class="form-select"
                                                                                    name="mechanicalInspector" required>
                                                                                    <option selected disabled value="">
                                                                                        Select Option</option>
                                                                                    {% for list in Inspectors %}
                                                                                    <option value="{{list.No_}}">
                                                                                        {{list.First_Name}}
                                                                                        {{list.Middle_Name}}
                                                                                        {{list.Last_Name}}</option>
                                                                                    {% endfor %}
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <input type="hidden" name="myAction"
                                                                                    value="modify">
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <label class="form-label">Mechanical
                                                                                    Inspector Recommendation<span
                                                                                        class="text-danger">*</span></label>
                                                                                <textarea class="form-control"
                                                                                    name="mechanicalInspectionRecommedation"
                                                                                    rows="3" required
                                                                                    value="{{res.ServiceInstruction}}">{{res.ServiceInstruction}}</textarea>

                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <label for=""
                                                                                    class="form-label">Transport
                                                                                    Officer</label>
                                                                                <select class="form-select"
                                                                                    name="transportOfficer" required>
                                                                                    <option selected disabled value="">
                                                                                        Select Option</option>
                                                                                    {% for list in TransportOfficers %}
                                                                                    <option value="{{list.No_}}">
                                                                                        {{list.First_Name}}
                                                                                        {{list.Middle_Name}}
                                                                                        {{list.Last_Name}}</option>
                                                                                    {% endfor %}
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                        <button type="submit" id="sasa"
                                                                            class="btn btn-success my-3 w-100">Submit</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                            {% else %}
                                            <tr>
                                                <td>{{res.No}}</td>
                                                <td>{{res.Date}}</td>
                                                <td>{{res.Vehicle}}</td>
                                                <td>{{res.CreatedBy }}</td>
                                                <td>
                                                    <button class="btn btn-primary" data-bs-toggle="modal"
                                                        data-bs-target="#inspectionEdit{{res.No}}" data-toggle="tooltip"
                                                        data-placement="top" title="edit">Edit <i
                                                            class="fas fa-edit"></i>
                                                    </button>
                                                    <a href="{% url 'VehicleInspectionDetails' res.No %}"
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View">
                                                        View
                                                        <i class="far fa-eye"></i>
                                                    </a>
                                                    <div class="modal fade" id="inspectionEdit{{res.No}}"
                                                        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div
                                                            class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="staticBackdropLabel">
                                                                        <i class="las la-edit"></i> Edit Inspection
                                                                        <span class="editSpan">{{res.No}}</span>
                                                                    </h5>
                                                                    <button type="button"
                                                                        class="btn-close btn-close-white"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="myForm needs-validation" action=""
                                                                        method="post" novalidate>
                                                                        {% csrf_token %}
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <input type="hidden" name="insNo"
                                                                                    value="{{res.No}}">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <label class="form-label">Vehicle <span
                                                                                        class="text-danger">*</span></label>
                                                                                <select class="form-select"
                                                                                    name="vehicle" required>
                                                                                    <option selected
                                                                                        value="{{ res.Vehicle }}">
                                                                                        {{ res.Vehicle }}</option>
                                                                                    {% for list in Vehicle_No %}
                                                                                    <option value="{{ list.No_ }}">
                                                                                        {{ list.Registration_No }}
                                                                                    </option>
                                                                                    {% endfor %}
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <label for=""
                                                                                    class="form-label">Driver</label>
                                                                                <select class="form-select"
                                                                                    name="driver" required>
                                                                                    <option selected disabled value="">
                                                                                        Select Option</option>
                                                                                    {% for list in drivers %}
                                                                                    <option value="{{list.No_}}">
                                                                                        {{list.First_Name}}
                                                                                        {{list.Middle_Name}}
                                                                                        {{list.Last_Name}}</option>
                                                                                    {% endfor %}
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <label for=""
                                                                                    class="form-label">Mechanical
                                                                                    Inspector</label>
                                                                                <select class="form-select"
                                                                                    name="mechanicalInspector" required>
                                                                                    <option selected disabled value="">
                                                                                        Select Option</option>
                                                                                    {% for list in Inspectors %}
                                                                                    <option value="{{list.No_}}">
                                                                                        {{list.First_Name}}
                                                                                        {{list.Middle_Name}}
                                                                                        {{list.Last_Name}}</option>
                                                                                    {% endfor %}
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <input type="hidden" name="myAction"
                                                                                    value="modify">
                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <label class="form-label">Mechanical
                                                                                    Inspector Recommendation<span
                                                                                        class="text-danger">*</span></label>
                                                                                <textarea class="form-control"
                                                                                    name="mechanicalInspectionRecommedation"
                                                                                    rows="3" required
                                                                                    value="{{res.ServiceInstruction}}">{{res.ServiceInstruction}}</textarea>

                                                                            </div>
                                                                        </div>

                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <label for=""
                                                                                    class="form-label">Transport
                                                                                    Officer</label>
                                                                                <select class="form-select"
                                                                                    name="transportOfficer" required>
                                                                                    <option selected disabled value="">
                                                                                        Select Option</option>
                                                                                    {% for list in TransportOfficers %}
                                                                                    <option value="{{list.No_}}">
                                                                                        {{list.First_Name}}
                                                                                        {{list.Middle_Name}}
                                                                                        {{list.Last_Name}}</option>
                                                                                    {% endfor %}
                                                                                </select>
                                                                            </div>
                                                                        </div>

                                                                        <button type="submit" id="sasa"
                                                                            class="btn btn-success my-3 w-100">Submit</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                            </tr>
                                            {% endif%}
                                            {%endfor%}
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                            <div class="tab-pane fade" id="approved">
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">

                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Request No.</th>
                                                <th>Date Requested</th>
                                                <th>Vehicle</th>
                                                <th>Inspected</th>
                                                <th>Action</th>
                                                <th>Booked For Inspection</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for res in approved %}
                                            <tr>
                                                <td>{{res.No}}</td>
                                                <td>{{res.Date}}</td>
                                                <td>{{res.Vehicle}}</td>
                                                <td>
                                                    {% if res.Inspected == True %}
                                                    Yes
                                                    {% elif res.Inspected == False %}
                                                    No
                                                    {% endif %}
                                                </td>
                                                <td>
                                                    {% if res.Booked_For_Inspection == False and res.Inspected == True %}
                                                    <form action="{% url 'FnBookForInspection' res.No %}" method="post"
                                                        style="display: inline-block;">
                                                        {% csrf_token %}
                                                        <button class="btn btn-dark" type="submit" data-toggle="tooltip"
                                                            data-placement="top" title="confirm repair">
                                                            <i class="las la-tools"></i> Book for Inspection <i
                                                                class="las la-check-double"></i>
                                                        </button>
                                                    </form>
                                                    {% elif res.Booked_For_Inspection == True and res.Inspected == False %}
                                                    <form action="{% url 'FnMarkInspected' res.No %}" method="post"
                                                        style="display: inline-block;">
                                                        {% csrf_token %}
                                                        <button class="btn btn-warning" type="submit"
                                                            data-toggle="tooltip" data-placement="top"
                                                            title="confirm repair">
                                                            <i class="las la-tools"></i> Mark Inspected <i
                                                                class="las la-check-double"></i>
                                                        </button>
                                                    </form>
                                                    {% endif %}
                                                    <a href="{% url 'VehicleInspectionDetails' res.No %}"
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View">
                                                        View
                                                        <i class="far fa-eye"></i>
                                                    </a>
                                                </td>
                                                <td>
                                                    {% if res.Booked_For_Inspection == True %}
                                                    Yes
                                                    {% elif res.Booked_For_Inspection == False %}
                                                    No
                                                    {% endif %}
                                                </td>
                                            </tr>

                                            {%endfor%}

                                        </tbody>
                                    </table>

                                </div>

                            </div>
                            <div class="tab-pane fade " id="inspected">
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">

                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Request No.</th>
                                                <th>Date Requested</th>
                                                <th>Vehicle</th>
                                                <th>Inspected</th>
                                                <th>Date Passed Inspection</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            {% for res in inspected %}
                                            <tr>
                                                <td>{{res.No}}</td>
                                                <td>{{res.Date}}</td>
                                                <td>{{res.Vehicle}}</td>
                                                <td>
                                                    {% if res.Inspected == True %}
                                                    Yes
                                                    {% elif res.Inspected == False %}
                                                    No
                                                    {% endif %}
                                                </td>
                                                <td>{{res.Date_Passed_Inspection}}</td>
                                                <td>
                                                    <a href="{% url 'VehicleInspectionDetails' res.No %}"
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View">
                                                        View
                                                        <i class="far fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>

                                            {%endfor%}

                                        </tbody>
                                    </table>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">Inspection request
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="myForm needs-validation" action="" method="post" novalidate>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" name="insNo" value="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="form-label">Vehicle <span class="text-danger">*</span></label>
                                    <select class="form-select" name="vehicle" required>
                                        <option selected disabled value="">Select Option</option>
                                        {% for list in Vehicle_No %}
                                        <option value="{{ list.No_ }}">{{ list.Registration_No }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label for="" class="form-label">Driver</label>
                                    <select class="form-select" name="driver" required>
                                        <option selected disabled value="">Select Option</option>
                                        {% for list in drivers %}
                                        <option value="{{list.No_}}">{{list.First_Name}} {{list.Middle_Name}}
                                            {{list.Last_Name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" name="myAction" value="insert">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label class="form-label">Remarks<span class="text-danger">*</span></label>
                                    <textarea class="form-control" name="mechanicalInspectionRecommedation" rows="3"
                                        required></textarea>

                                </div>
                            </div>
                            <button type="submit" id="sasa" class="btn btn-success my-3 w-100">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}