{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<section class="dash2">
    <div class="content-wrapper">
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> Vehicle Inspection Request
                {% if res.Status == "Open" and driver_role == True %}
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Attachment"> <i
                        class="las la-plus"></i> Upload Attachment</button>
                {% endif %}
                {% if res.Booked_For_Inspection == False and res.Status == "Open" and TO_role == True %}
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#inspectionReport"> <i
                        class="las la-plus"></i> Upload Inspection Report</button>
                {% endif %}
            </h2>

            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">
                    {% if  res.Booked_For_Inspection == False and res.Status == "Approved" %}
                    <button class="btn btn-successs" data-bs-toggle="modal" data-bs-target="#vehicle_defects"> <i
                            class="las la-plus"></i> Vehicle Defects</button>
                    {% endif %}
                </div>
            </div>
        </div>

        <!--alert -->
        {% include 'alerts.html' %}

        <div class="row my-3">
            <div class="col-md-4">
                <div class="card l-bg-blue-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-file"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Inspection Status</h5>
                        </div>
                        {% if res.Status == "Open" %}
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{ res.Status }}
                                </h2>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-red" role="progressbar" data-width="50%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width: 20%; background: linear-gradient(to right, #a86008, #c18b39) !important;">
                            </div>
                        </div>

                        {% elif res.Status == "Pending Approval" %}
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Status}}
                                </h2>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-yellow" role="progressbar" data-width="25%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width: 40%; background: linear-gradient(to right, #a86008, #c18b39) !important;">
                            </div>
                        </div>
                        {% elif res.Status == "Approved" %}
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    Approved
                                </h2>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-green" role="progressbar" data-width="75%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width: 100%; background: linear-gradient(to right, #a86008, #c18b39) !important;">
                            </div>
                        </div>
                        {% elif Status == 'Approved' and res.Booked_For_Inspection == true %}
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    Booked For Inspection
                                </h2>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-green" role="progressbar" data-width="75%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width: 80%; background: linear-gradient(to right, #a86008, #c18b39) !important;">
                            </div>
                        </div>
                        {% elif res.Status == "Inspected" %}
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    Inspected
                                </h2>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-green" role="progressbar" data-width="75%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width: 100%; background: linear-gradient(to right, #a86008, #c18b39) !important;">
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card l-bg-green-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-search"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Booked For Inspection</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {% if res.Booked_For_Inspection == True %}
                                    Yes
                                    {% elif res.Booked_For_Inspection == False %}
                                    No
                                    {% endif %}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card l-bg-cherry statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-search"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Inspected</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {% if res.Inspected == True %}
                                    Yes
                                    {% elif res.Inspected == False %}
                                    No
                                    {% endif %}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label">Vehicle Number</label>
                        <input type="text" class="form-control" placeholder="{{res.Vehicle}}" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Drivers Name</label>
                        <input type="text" class="form-control" placeholder="{{res.DriversName}}" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Drivers PNO</label>
                        <input type="text" class="form-control" placeholder="{{res.DriverPNO}}" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Status</label>
                        <input type="text" class="form-control" placeholder="{{res.Status}}" readonly>
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">Remarks</label>
                        <textarea class="form-control" placeholder="{{res.ServiceInstruction}}" rows="3"
                            readonly></textarea>
                    </div>
                </form>
            </div>
        </div>
        <div class="row my-2 py-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">
                            My Attachments
                        </h4>
                        <div class="row">
                            {% for data in allFiles %}
                            <div class="col-lg-4 col-xl-3">
                                <div class="file-man-box">
                                    {% if res.Status == 'Open' %}
                                    <form action="{% url 'DeleteInspectionAttachment' data.No_  %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="docID" value="{{data.AuxiliaryIndex2}}">
                                        <input type="hidden" name="tableID" value="{{data.Table_ID}}">
                                        <button class="file-close" id="file-close"><i
                                                class="fa fa-times-circle"></i></button>
                                    </form>
                                    {% endif %}
                                    <div class="file-img-box"><img src="../../static/img/logo/f1.png" alt="icon"></div>
                                    <form action="{% url 'getDocs' data.No_ data.Table_ID %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="attachmentID" value="{{data.AuxiliaryIndex2}}">
                                        <input type="hidden" name="File_Name" value="{{data.File_Name}}">
                                        <input type="hidden" name="File_Extension" value="{{data.File_Extension}}">
                                        <button class="file-download mx-1"><i
                                                class="fa fa-download text-success"></i></button>
                                    </form>
                                    <div class="file-man-title">
                                        <h5 class="mb-0 text-overflow">
                                            {{data.File_Name}}.{{data.File_Extension}}</h5>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <p class="text-danger">
                                You have not uploaded any attachments <i class="las la-file-download"></i>
                            </p>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>

        {% if res.Rejected_By_Approver == True and res.Status == 'Open' %}
        <div class="row my-2 py-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">
                            Rejection Comments
                        </h4>
                        <div class="row">
                            <div class="chat-history">
                                <ul class="m-b-0">
                                    {% for comment in Comments %}
                                    <li class="clearfix">
                                        <div class="message-data">
                                            <span class="message-data-time">{{comment.User_ID}}</span>
                                        </div>
                                        <div class="message my-message">{{comment.Comment}}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                {% if res.Status == "Open" and res.Booked_For_Inspection == False %}
                <div class="myForm my-3">
                    <form action="{% url 'FnSubmitVehicleInspection' res.No%}" method="POST"
                        style="display: inline-block;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="hidden" hidden name="insNo" value="{{res.No}}">
                        </div>
                        <button class="btn btn-info" type="submit">Request Approval</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        {% if res.Status == "Pending Approval" %}
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <h4 class="mt-2 mx-2 text-dark">Document Approvers</h4>
                    <div class="card-body">
                        <table id="example"
                            class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                            style="width:100%">
                            <thead>
                                <tr id="tops">
                                    <th id="long">Entry No</th>
                                    <th>Name</th>
                                    <th>Sequence</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in Approvers %}
                                <tr>
                                    <td>{{res.Entry_No_}}</td>
                                    <td>{{res.Approver_ID}}</td>
                                    <td>{{res.Sequence_No_}}</td>
                                    <td>{{res.Status}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="row">
            <div class="col-md-12">
                {% if res.Status == "Approved" and res.Booked_For_Inspection == False %}
                <div class="myForm my-3">
                    <form action="{% url 'FnBookForInspection' res.No %}" method="POST"
                        style="display: inline-block;">
                        {% csrf_token %}
                        <button class="btn btn-info" type="submit">Book for Inspection</button>
                    </form>
                </div>
                {% elif res.Status == "Approved" and res.Booked_For_Inspection == True %}
                <div class="myForm my-3">
                    <form action="{% url 'FnCancelBooking' res.No %}" method="POST"
                        style="display: inline-block;">
                        {% csrf_token %}
                        
                        <button class="btn btn-info" type="submit">Cancel Booking</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>

    </div>

</section>
<div class="modal fade" id="Attachment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Attachment</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'UploadInspectionAttachment' res.No %}" method="post" class="myForm"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class=" mb-3">
                        <label class="form-label">Attachments </label>
                        <input class="form-control" name="attachment" type="file" multiple>
                    </div>
                    <button type="submit" class="btn btn-success my-3 w-100">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="inspectionReport" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Inspection Report</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'UploadInspectionAttachment' res.No %}" method="post" class="myForm"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class=" mb-3">
                        <label class="form-label">Attachments </label>
                        <input class="form-control" name="attachment" type="file" multiple>
                    </div>
                    <button type="submit" class="btn btn-success my-3 w-100">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="vehicle_defects" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Add Vehicle Defects
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="myForm needs-validation" id="frm_" action="{% url 'InspectionDefects' res.No %}"
                    method="post" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <input type="number" name="lineNo" value="0" hidden>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label">Defect Type <span class="text-danger">*</span></label>
                            <input type="text" name="defectsType" class="form-control">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label for="" class="form-label">Specification<span class="text-danger">*</span></label>
                            <input type="text" name="specification" class="form-control">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input type="hidden" name="myAction" value="insert">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-success my-3 w-100">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}