{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
        crossorigin="anonymous"></script>
<section class="dash2">
    <!-- top banner -->
    <div class="content-wrapper general-bg">
        <div class="row" id="proBanner">
            <div class="col-12">
                <span class="d-flex align-items-center purchase-popup">
                    <img src="../../../static/img/logo/fav.png" width="70px" class="img-fluid" alt="" srcset="">
                    <h2 class="text-dark font-weight-bold ml-3"> Vehicle Inspection </h2>
                    <button class="btn btn-successs align-items-center p-3" data-bs-toggle="modal"
                            data-bs-target="#staticBackdrop"
                            style="margin-left: auto;margin-right:0;outline: none;border: none;"><i
                           class="las la-plus text-white" style="font-size:15px;"></i> New Inspection Request</button>
                </span>
            </div>
        </div>

        <!-- Alerts  -->
        {% include 'alerts.html' %}


        <div class="row my-2">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="m-4">
                        <ul class="nav nav-tabs d-flex" id="myTab">
                            <li class="nav-item flex-fill">
                                <a href="#home" class="nav-link active" data-bs-toggle="tab">Open
                                    ({{count}})</a>
                            </li>
                            <li class="nav-item flex-fill">
                                <a href="#pending" class="nav-link" data-bs-toggle="tab">Pending Approval
                                    ({{pend}})</a>
                            </li>
                            <li class="nav-item flex-fill">
                                <a href="#approved" class="nav-link" data-bs-toggle="tab">Approved
                                    ({{counter}})</a>
                            </li>
                            <li class="nav-item flex-fill">
                                <a href="#booked" class="nav-link" data-bs-toggle="tab">Booked for Inspection
                                    ({{bookedCount}})</a>
                            </li>
                            <li class="nav-item flex-fill">
                                <a href="#inspected" class="nav-link" data-bs-toggle="tab">Inspected
                                    ({{inspectedCount}})</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="home">
                                <h4 class="mt-2 text-dark">Open Vehicle Inspection Request</h4>
                                <div class="card-body">
                                    <table id="example"
                                           class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                           style="width:100%">

                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Request No.</th>
                                                <th>Date Requested</th>
                                                <th>Vehicle</th>
                                                <th>Requested By</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in open %}
                                            {% if res.Rejected_By_Approver == True and res.Status == 'Open' %}
                                            <tr>
                                                <td>{{res.No}}</td>
                                                <td>{{res.Date}}</td>
                                                <td>{{res.Vehicle}}</td>
                                                <td>{{res.CreatedBy }}</td>
                                                <td>
                                                    <button class="btn btn-primary" data-bs-toggle="modal"
                                                            data-bs-target="#" data-toggle="tooltip" data-placement="top"
                                                            title="edit">Edit <i class="fas fa-edit"></i>
                                                    </button>
                                                    <a href="{% url 'VehicleInspectionDetails' res.No %}"
                                                       class="btn btn-success btn-icon-text" type="button"
                                                       data-toggle="tooltip" data-placement="top" title="Click to View">
                                                        View
                                                        <i class="far fa-eye"></i>
                                                    </a>
                                                    <div class="modal fade" id=""
                                                         data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                                         aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div
                                                             class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="staticBackdropLabel">
                                                                        <i class="las la-edit"></i> Edit Imprest
                                                                        <span class="editSpan">{{res.No_}}</span>
                                                                    </h5>
                                                                    <button type="button" class="btn-close btn-close-white"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="myForm" action="" method="post" novalidate>
                                                                        {% csrf_token %}
                                                                        <div class="mb-2 myForm">
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <label
                                                                                           class="form-label">Imprest</label>
                                                                                    <select class="form-select"
                                                                                            name="isImprest" required>
                                                                                        <option selected disabled value="">
                                                                                            Select Option</option>
                                                                                        <option value="True">yes </option>
                                                                                        <option value="False">No</option>
                                                                                    </select>
                                                                                    <div class="invalid-feedback"> Please
                                                                                        select a valid option.</div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <label class="form-label">Travel
                                                                                        Type <span
                                                                                              class="text-danger">*</span></label>
                                                                                    <select class="form-select"
                                                                                            name="travelType" required>
                                                                                        <option selected disabled value="">
                                                                                            Select Option</option>
                                                                                        <option value="0">Local</option>
                                                                                        <option value="1">Foreign</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <input type="hidden" name="myAction"
                                                                                           value="modify">
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <input type="hidden" name="imprestNo"
                                                                                           value="{{res.No_}}">
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <label for="purpose"
                                                                                           class="form-label">Purpose</label>
                                                                                    <textarea class="form-control"
                                                                                              name="purpose" rows="3"
                                                                                              required></textarea>
                                                                                </div>
                                                                            </div>
                                                                            <button type="submit" id="sasa"
                                                                                    class="btn btn-success my-3 w-100">Submit</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </td>
                                            </tr>
                                            {% else %}
                                            <tr>
                                                <td>{{res.No}}</td>
                                                <td>{{res.Date}}</td>
                                                <td>{{res.Vehicle}}</td>
                                                <td>{{res.CreatedBy }}</td>
                                                <td>
                                                    <button class="btn btn-primary" data-bs-toggle="modal"
                                                            data-bs-target="#inspectionEdit" data-toggle="tooltip" data-placement="top"
                                                            title="edit">Edit <i class="fas fa-edit"></i>
                                                    </button>
                                                    <a href="{% url 'VehicleInspectionDetails' res.No %}"
                                                       class="btn btn-success btn-icon-text" type="button"
                                                       data-toggle="tooltip" data-placement="top" title="Click to View">
                                                        View
                                                        <i class="far fa-eye"></i>
                                                    </a>
                                                    <div class="modal fade" id="inspectionEdit"
                                                         data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                                         aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div
                                                             class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="staticBackdropLabel">
                                                                        <i class="las la-edit"></i> Edit Inspection
                                                                        <span class="editSpan">{{res.No}}</span>
                                                                    </h5>
                                                                    <button type="button" class="btn-close btn-close-white"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="myForm needs-validation" action="" method="post" novalidate>
                                                                        {% csrf_token %}
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <input type="hidden" name="insNo" value="">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <label class="form-label">Vehicle <span class="text-danger">*</span></label>
                                                                                <select class="form-select" name="vehicle" required>
                                                                                    <option selected value="{{ res.Vehicle }}">{{ res.Vehicle }}</option>
                                                                                    {% for list in Vehicle_No %}
                                                                                    <option value="{{ list.No_ }}">{{ list.Registration_No }}</option>
                                                                                    {% endfor %}
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                            
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <input type="hidden" name="myAction" value="modify">
                                                                            </div>
                                                                        </div>
                                            
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <label  class="form-label">Mechanical Inspection Recommedation<span
                                                                                          class="text-danger">*</span></label>
                                                                                <textarea class="form-control" name="mechanicalInspectionRecommedation" rows="3" required></textarea>
                                            
                                                                            </div>
                                                                        </div>
                                                                        <button type="submit" id="sasa" class="btn btn-success my-3 w-100">Submit</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </td>
                                            </tr>
                                            {% endif%}
                                            {%endfor%}
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                            <div class="tab-pane fade " id="pending">
                                <h4 class="mt-2 text-dark">Pending Inspection Request</h4>
                                <div class="card-body">
                                    <table id="example"
                                           class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                           style="width:100%">

                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Request No.</th>
                                                <th>Date Requested</th>
                                                <th>Vehicle</th>
                                                <th>Requested By</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in pending %}
                                         
                                            <tr>
                                                <td>{{res.No}}</td>
                                                <td>{{res.Date}}</td>
                                                <td>{{res.Vehicle}}</td>
                                                <td>{{res.CreatedBy }}</td>
                                                <td>
                                                    <button class="btn btn-primary" data-bs-toggle="modal"
                                                            data-bs-target="#" data-toggle="tooltip" data-placement="top"
                                                            title="edit">Edit <i class="fas fa-edit"></i>
                                                    </button>
                                                    <a href="{% url 'VehicleInspectionDetails' res.No %}"
                                                       class="btn btn-success btn-icon-text" type="button"
                                                       data-toggle="tooltip" data-placement="top" title="Click to View">
                                                        View
                                                        <i class="far fa-eye"></i>
                                                    </a>
                                                    <div class="modal fade" id=""
                                                         data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                                         aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div
                                                             class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="staticBackdropLabel">
                                                                        <i class="las la-edit"></i> Edit Imprest
                                                                        <span class="editSpan">{{res.No_}}</span>
                                                                    </h5>
                                                                    <button type="button" class="btn-close btn-close-white"
                                                                            data-bs-dismiss="modal"
                                                                            aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="myForm" action="" method="post" novalidate>
                                                                        {% csrf_token %}
                                                                        <div class="mb-2 myForm">
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <label
                                                                                           class="form-label">Imprest</label>
                                                                                    <select class="form-select"
                                                                                            name="isImprest" required>
                                                                                        <option selected disabled value="">
                                                                                            Select Option</option>
                                                                                        <option value="True">yes </option>
                                                                                        <option value="False">No</option>
                                                                                    </select>
                                                                                    <div class="invalid-feedback"> Please
                                                                                        select a valid option.</div>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <label class="form-label">Travel
                                                                                        Type <span
                                                                                              class="text-danger">*</span></label>
                                                                                    <select class="form-select"
                                                                                            name="travelType" required>
                                                                                        <option selected disabled value="">
                                                                                            Select Option</option>
                                                                                        <option value="0">Local</option>
                                                                                        <option value="1">Foreign</option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <input type="hidden" name="myAction"
                                                                                           value="modify">
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <input type="hidden" name="imprestNo"
                                                                                           value="{{res.No_}}">
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <label for="purpose"
                                                                                           class="form-label">Purpose</label>
                                                                                    <textarea class="form-control"
                                                                                              name="purpose" rows="3"
                                                                                              required></textarea>
                                                                                </div>
                                                                            </div>
                                                                            <button type="submit" id="sasa"
                                                                                    class="btn btn-success my-3 w-100">Submit</button>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    
                                                </td>
                                            </tr>
                                            
                                            {%endfor%}
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                            <div class="tab-pane fade " id="approved">
                                <h4 class="mt-2 text-dark">Approved Inspection Request</h4>
                                <div class="card-body">
                                    <table id="example"
                                           class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                           style="width:100%">

                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Request No.</th>
                                                <th>Date Requested</th>
                                                <th>Vehicle</th>
                                                <th>Requested By</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                            {% for res in approved %}
                                         
                                            <tr>
                                                <td>{{res.No}}</td>
                                                <td>{{res.Date}}</td>
                                                <td>{{res.Vehicle}}</td>
                                                <td>{{res.CreatedBy }}</td>
                                                <td>                                                    
                                                    <a href="{% url 'VehicleInspectionDetails' res.No %}"
                                                       class="btn btn-success btn-icon-text" type="button"
                                                       data-toggle="tooltip" data-placement="top" title="Click to View">
                                                        View
                                                        <i class="far fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            
                                            {%endfor%}
                                            
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                            <div class="tab-pane fade " id="booked">
                                <h4 class="mt-2 text-dark">Booked for Inspection</h4>
                                <div class="card-body">
                                    <table id="example"
                                           class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                           style="width:100%">

                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Request No.</th>
                                                <th>Date Requested</th>
                                                <th>Vehicle</th>
                                                <th>Requested By</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in booked %}
                                         
                                            <tr>
                                                <td>{{res.No}}</td>
                                                <td>{{res.Date}}</td>
                                                <td>{{res.Vehicle}}</td>
                                                <td>{{res.CreatedBy }}</td>
                                                <td>                                                    
                                                    <a href="{% url 'VehicleInspectionDetails' res.No %}"
                                                       class="btn btn-success btn-icon-text" type="button"
                                                       data-toggle="tooltip" data-placement="top" title="Click to View">
                                                        View
                                                        <i class="far fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            
                                            {%endfor%}
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                            <div class="tab-pane fade " id="inspected">
                                <h4 class="mt-2 text-dark">Inspected</h4>
                                <div class="card-body">
                                    <table id="example"
                                           class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                           style="width:100%">

                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Request No.</th>
                                                <th>Date Requested</th>
                                                <th>Vehicle</th>
                                                <th>Requested By</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in inspected %}
                                         
                                            <tr>
                                                <td>{{res.No}}</td>
                                                <td>{{res.Date}}</td>
                                                <td>{{res.Vehicle}}</td>
                                                <td>{{res.CreatedBy }}</td>
                                                <td>                                                    
                                                    <a href="{% url 'VehicleInspectionDetails' res.No %}"
                                                       class="btn btn-success btn-icon-text" type="button"
                                                       data-toggle="tooltip" data-placement="top" title="Click to View">
                                                        View
                                                        <i class="far fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            
                                            {%endfor%}
                                        </tbody>
                                    </table>

                                </div>

                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
             aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                <div class="modal-content">
                    <div class="modal-header">Inspection request
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class="myForm needs-validation" action="" method="post" novalidate>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" name="insNo" value="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="form-label">Vehicle <span class="text-danger">*</span></label>
                                    <select class="form-select" name="vehicle" required>
                                        <option selected disabled value="">Select Option</option>
                                        {% for list in Vehicle_No %}
                                        <option value="{{ list.No_ }}">{{ list.Registration_No }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" name="myAction" value="insert">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label  class="form-label">Mechanical Inspection Recommedation<span
                                              class="text-danger">*</span></label>
                                    <textarea class="form-control" name="mechanicalInspectionRecommedation" rows="3" required></textarea>

                                </div>
                            </div>
                            <button type="submit" id="sasa" class="btn btn-success my-3 w-100">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</secton>

{% endblock %}