{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<section class="dash2">
    <div class="content-wrapper">
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> Vehicle {{res.Document_Type}} Request
                {% if res.Status == "Open" %}
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Attachment"> <i
                        class="las la-plus"></i> Upload Attachment</button>
                {% endif %}
            </h2>

            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">

                    {% if res.Status == "Open" %}
                    <button class="btn btn-successs p-3 d-flex align-items-center" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop" type="button"> <i class="las la-plus text-white"
                            style="font-size:15px;"></i> Add Lines
                    </button>
                    {% elif res.Status == "Released" %}

                    {% endif %}
                </div>
            </div>
        </div>

        <!--alert -->
        {% include 'alerts.html' %}

        <div class="row my-3">
            <div class="col-md-4">
                <div class="card l-bg-blue-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-file"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Vehicle Repair Status</h5>
                        </div>
                        {% if res.Status == "Open" %}
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    Open
                                </h2>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-red" role="progressbar" data-width="50%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width: 50%; background: linear-gradient(to right, #a86008, #c18b39) !important;">
                            </div>
                        </div>
                        {% elif res.Status == "Pending Approval" %}
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Status}}
                                </h2>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-yellow" role="progressbar" data-width="25%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width: 75%; background: linear-gradient(to right, #a86008, #c18b39) !important;">
                            </div>
                        </div>
                        {% elif res.Status == "Released" %}
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    Approved
                                </h2>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-green" role="progressbar" data-width="75%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width: 100%; background: linear-gradient(to right, #a86008, #c18b39) !important;">
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card l-bg-green-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-user-tag"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Vehicle registration No.</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Vehicle_Registration_No_}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card l-bg-cherry statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-calendar"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Date Created</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Document_Date}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label">Current Odometer Reading</label>
                        <input type="text" class="form-control" placeholder="{{res.Odometer_Reading}}" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Drivers Name</label>
                        <input type="text" class="form-control" placeholder="{{res.Driver_Name}}" readonly>
                    </div>
                </form>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <h4 class="mt-2 mx-2 text-dark">Repair Request Lines</h4>
                    <div class="card-body">
                        <table id="example"
                            class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                            style="width:100%">
                            <thead>
                                <tr id="tops">
                                    <th id="long">Line No.</th>
                                    <th>Defect Type</th>
                                    <th>Severity</th>
                                    <th>Recommended Action</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for line in line %}
                                <tr>
                                    <td>{{line.Line_No_}}</td>
                                    <td>{{line.Defect_Type}}</td>
                                    <td>{{line.Severity}}</td>
                                    <td>{{line.Recommendations}}</td>
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="d-flex justify-content-between">

                        <h4 class="mt-2 mx-2 text-dark">Instruction Sheet</h4>

                        <button class="btn btn-successs p-2 m-2 d-flex align-items-center" data-bs-toggle="modal"
                            data-bs-target="#instruction" type="button">
                            <i class="las la-plus text-white" style="font-size:15px;"></i> Add
                        </button>

                    </div>
                    <div class="card-body">
                        <table id="example"
                            class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                            style="width:100%">
                            <thead>
                                <tr id="tops">
                                    <th id="long">Line No</th>
                                    <th>Garage</th>
                                    <th>Service/Repair</th>
                                    <th>Quotation</th>
                                    <th>Action</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for list in ServeInstructions %}
                                <tr>
                                    <td>{{list.LineNo}}</td>
                                    <td>{{list.Garage}}</td>
                                    <td>{{list.ServiceRepair}}</td>
                                    <td>{{list.Quotes}}</td>
                                    <td>
                                        <form method="POST" action="{% url 'FNServiceInstructionsSheet' list.No %}">
                                            {% csrf_token %}

                                            <input type="hidden" name="lineNo" value="{{list.LineNo}}">
                                            <input type="hidden" name="serviceOrRepair" value="0">
                                            <input type="hidden" name="garage" value="0">
                                            <input type="hidden" name="quote" value="0">
                                            <input type="hidden" name="myAction" value="delete">

                                            <button class="btn btn-danger" data-toggle="tooltip" data-placement="top"
                                            title="Delete Line" type="submit">
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </form>
                                    </td>


                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row my-2 py-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">
                            My Attachments
                        </h4>
                        <div class="row">
                            {% for data in allFiles %}
                            <div class="col-lg-4 col-xl-3">
                                <div class="file-man-box">
                                    {% if res.Status == 'Open' %}
                                    <form action="{% url 'DeleteRepairAttachment' data.No_  %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="docID" value="{{data.AuxiliaryIndex2}}">
                                        <input type="hidden" name="tableID" value="{{data.Table_ID}}">
                                        <button class="file-close" id="file-close"><i
                                                class="fa fa-times-circle"></i></button>
                                    </form>
                                    {% endif %}
                                    <div class="file-img-box"><img src="../../static/img/logo/f1.png" alt="icon"></div>
                                    <form action="{% url 'getDocs' data.No_ data.Table_ID %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="attachmentID" value="{{data.AuxiliaryIndex2}}">
                                        <input type="hidden" name="File_Name" value="{{data.File_Name}}">
                                        <input type="hidden" name="File_Extension" value="{{data.File_Extension}}">
                                        <button class="file-download mx-1"><i
                                                class="fa fa-download text-success"></i></button>
                                    </form>
                                    <div class="file-man-title">
                                        <h5 class="mb-0 text-overflow">
                                            {{data.File_Name}}.{{data.File_Extension}}</h5>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <p class="text-danger">
                                You have not uploaded any attachments <i class="las la-file-download"></i>
                            </p>
                            {% endfor %}
                        </div>

                    </div>
                </div>
            </div>
        </div>

        {% if res.Rejected_By_Approver == True and res.Status == 'Open' %}
        <div class="row my-2 py-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">
                            Rejection Comments
                        </h4>
                        <div class="row">
                            <div class="chat-history">
                                <ul class="m-b-0">
                                    {% for comment in Comments %}
                                    <li class="clearfix">
                                        <div class="message-data">
                                            <span class="message-data-time">{{comment.User_ID}}</span>
                                        </div>
                                        <div class="message my-message">{{comment.Comment}}</div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}


        <div class="row">
            <div class="col-md-12">
                {% if res.Status == "Open" %}
                <div class="myForm my-3">
                    <form action="{% url 'FnRaiseRepairRequest' res.No_ %}" method="POST"
                        style="display: inline-block;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="hidden" hidden name="insNo" value="{{res.No_ }}">
                        </div>
                        <button class="btn btn-info" type="submit"> Request For Approval </button>
                    </form>
                </div>
                {% elif res.Status == "Pending Approval" %}
                <div class="d-grid gap-2 my-3">
                    <form action="{% url 'FnCancelRepairRequest' res.No_ %}" method="POST" class="myForm"
                        id="approvalForm">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="hidden" hidden name="reqNo" value="{{res.No_}}">
                        </div>
                        <button class="btn btn-info" type="submit">Cancel Request For Approval</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        {% if res.Status == "Pending Approval" %}
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <h4 class="mt-2 mx-2 text-dark">Document Approvers</h4>
                    <div class="card-body">
                        <table id="example"
                            class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                            style="width:100%">
                            <thead>
                                <tr id="tops">
                                    <th id="long">Entry No</th>
                                    <th>Name</th>
                                    <th>Sequence</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in Approvers %}
                                <tr>
                                    <td>{{res.Entry_No_}}</td>
                                    <td>{{res.Approver_ID}}</td>
                                    <td>{{res.Sequence_No_}}</td>
                                    <td>{{res.Status}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}

    </div>

    <!-- Defects Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">New {{res.Document_Type}} Request Line
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm needs-validation" id="frm_" action="{% url 'FnRepairRequestLine' res.No_ %}"
                        method="post" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <input type="number" name="lineNo" value="1000" hidden>
                                <input type="text" name="requisitionNo" value="{{res.No_}}" hidden>
                                <input type="hidden" name="myAction" value="insert">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label">Defect Type <span class="text-danger">*</span></label>
                                <input type="text" name="defectsType" class="form-control">

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="" class="form-label">Description of {{res.Document_Type}}<span
                                        class="text-danger">*</span></label>
                                <input type="text" name="specification" class="form-control">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success my-3 w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!-- Instruction sheet -->
    <div class="modal fade" id="instruction" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="instructionLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="instructionLabel">New {{res.Document_Type}} Instruction Sheet
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm needs-validation" id="frm_" action="{% url 'FNServiceInstructionsSheet' res.No_ %}"
                        method="post" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <input type="number" name="lineNo" value="1000" hidden>
                                <input type="text" name="serviceOrRepair" value="{{res.Document_Type}}" hidden>
                                <input type="hidden" name="myAction" value="insert">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="" class="form-label">Garage<span class="text-danger">*</span></label>
                                <select class="form-select" name="garage" required>
                                    <option selected disabled value="">Select Option</option>
                                    {% for list in Vendors %}
                                    <option value="{{list.No}}">{{list.Name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="" class="form-label">Quotation<span
                                        class="text-danger">*</span></label>
                                <input type="number" name="quote" class="form-control">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success my-3 w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    
    
</section>


<div class="modal fade" id="Attachment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Attachment</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'UploadRepairAttachment' res.No_ %}" method="post" class="myForm"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class=" mb-3">
                        <label class="form-label">Attachments </label>
                        <input class="form-control" name="attachment" type="file" multiple>
                    </div>
                    <button type="submit" class="btn btn-success my-3 w-100">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}