{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<section class="dash2">
    <div class="content-wrapper" style="padding-bottom: 5rem;">
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> Discipline Case D00001
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Attachment"> <i
                        class="las la-plus"></i> Respond To Case</button>
            </h2>

            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">
                    <button class="btn bg-white dropdown-toggle p-3 d-flex align-items-center" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                            class="mdi mdi-calendar mr-1"></i>{{today}}
                    </button>
                </div>
            </div>
        </div>
        <!--alert -->
        {% include 'alerts.html' %}
        <div class="row">
            <div class="col-md-12">
                <form class="row g-3">
                    <div class="col-md-4">
                        <label class="form-label">Case No</label>
                        <input type="text" class="form-control" placeholder="{{res.Disciplinary_Nos}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Employee Name</label>
                        <input type="text" class="form-control" placeholder="{{res.Employee_Name}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Employee No</label>
                        <input type="text" class="form-control" placeholder="{{res.Employee_No}}" readonly>
                    </div>
                </form>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <h4 class="mt-2 mx-2 text-dark"> {{res.Disciplinary_Nos}} Lines </h4>
                    <div class="card-body">
                        <table id="example"
                            class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                            style="width:100%">
                            <thead>
                                <tr id="tops">
                                    <th id="long">Case Description</th>
                                    <th>Witness Type</th>
                                    <th>Witness 1</th>
                                    <th>Witness 2</th>
                                    <th>Recommended Action</th>
                                    <th>Action Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in line %}
                                <tr>
                                    <td>{{res.Case_Description}}</td>
                                    <td>{{res.Witness_Type}}</td>
                                    <td>{{res.Witness__1}}</td>
                                    <td>{{res.Witness__2}}</td>
                                    <td>{{res.Recommended_Action}}</td>
                                    <td>{{res.Action_Description}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="reject" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Reject Approval
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="myForm" action="" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12 my-2">
                                <input type="hidden" class="form-control" name="entryNo" value="{{res.Entry_No_}}">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <label for="purpose" class="form-label">Purpose</label>
                                    <textarea class="form-control" name="approvalComments" rows="3"></textarea>
                                </div>
                            </div>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Discard</button>
                    <button type="submit" id="sasa" class="btn btn-primary">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="Attachment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Submit Case Response</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'DisciplineResponse' res.Disciplinary_Nos %}" method="post" class="myForm"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class=" mb-3">
                        <label class="form-label">Response</label>
                        <textarea class="form-control" rows="3" name="myResponse"></textarea>
                    </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}