{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<section class="dash2">
    <div class="content-wrapper" style="padding-bottom: 5rem;">
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> Leave Requests <button class="btn btn-primary"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop"> <i class="las la-plus"></i> New Leave
                    Request</button></h2>

            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">
                    <button class="btn bg-white dropdown-toggle p-3 d-flex align-items-center" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                            class="mdi mdi-calendar mr-1"></i>{{today}}
                    </button>
                </div>
            </div>
        </div>
        <!--alert -->
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success d-flex align-items-center alert-dismissible alert-success" role="alert">
            <i class="las la-check-double" style="color: white;font-size: 2rem"></i>
            <div class="a-icon mx-2">
                {{message}}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger d-flex align-items-center alert-dismissible alert-warn" role="alert">
            <i class="las la-exclamation-triangle" style="color: white;font-size: 2rem"></i>
            <div class="a-icon mx-2">
                {{message}}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="row my-2">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="m-4">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="nav-item">
                                <a href="#s-open" class="nav-link active" data-bs-toggle="tab"> Open Leave Request
                                    ({{count}})</a>
                            </li>
                            <li class="nav-item">
                                <a href="#s-approve" class="nav-link" data-bs-toggle="tab">Appproved Leave Request
                                    ({{counter}})</a>
                            </li>
                            <li class="nav-item">
                                <a href="#s-reject" class="nav-link" data-bs-toggle="tab">Rejected Leave Request
                                    ({{reject}})</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="s-open">
                                <h4 class="mt-2 text-dark">Open Leave Request</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Application No</th>
                                                <th>Application_Date</th>
                                                <th>Employee Name</th>
                                                <th>Mobile No</th>
                                                <th>User</th>
                                                <th>Leave Period</th>
                                                <th>Leave Code</th>
                                                <th>Status</th>
                                                <th>Planner_Start_Date</th>
                                                <th>Return same day</th>
                                                <th>Days Applied</th>
                                                <th>Start Date</th>
                                                <th>Created By</th>
                                                <th>Leave Allowance Payable</th>
                                                <th>Employment Type</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in res %}
                                            <tr>
                                                <td>{{res.Application_No}}</td>
                                                <td id="rap">{{res.Application_Date}}</td>
                                                <td>{{res.Employee_Name}}</td>
                                                <td>{{res.Mobile_No}}</td>
                                                <td>{{res.User_ID}}</td>
                                                <td>{{res.Leave_Period}}</td>
                                                <td>{{res.Leave_Code}}</td>
                                                <td>{{res.Status}}</td>
                                                <td>{{res.Planner_Start_Date}}</td>
                                                <td>{{res.Return_same_day}}</td>
                                                <td>{{res.Days_Applied}}</td>
                                                <td>{{res.Start_Date}}</td>
                                                <td>{{res.End_Date}}</td>
                                                <td>{{res.Leave_Allowance_Payable}}</td>
                                                <td>{{res.Employment_Type}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="s-approve">
                                <h4 class="mt-2 text-dark">Approved Leave Request</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Application No</th>
                                                <th>Application_Date</th>
                                                <th>Employee Name</th>
                                                <th>Mobile No</th>
                                                <th>User</th>
                                                <th>Leave Period</th>
                                                <th>Leave Code</th>
                                                <th>Status</th>
                                                <th>Planner_Start_Date</th>
                                                <th>Return same day</th>
                                                <th>Days Applied</th>
                                                <th>Start Date</th>
                                                <th>Created By</th>
                                                <th>Leave Allowance Payable</th>
                                                <th>Employment Type</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in response %}
                                            <tr>
                                                <td>{{res.Application_No}}</td>
                                                <td id="rap">{{res.Application_Date}}</td>
                                                <td>{{res.Employee_Name}}</td>
                                                <td>{{res.Mobile_No}}</td>
                                                <td>{{res.User_ID}}</td>
                                                <td>{{res.Leave_Period}}</td>
                                                <td>{{res.Leave_Code}}</td>
                                                <td>{{res.Status}}</td>
                                                <td>{{res.Planner_Start_Date}}</td>
                                                <td>{{res.Return_same_day}}</td>
                                                <td>{{res.Days_Applied}}</td>
                                                <td>{{res.Start_Date}}</td>
                                                <td>{{res.End_Date}}</td>
                                                <td>{{res.Leave_Allowance_Payable}}</td>
                                                <td>{{res.Employment_Type}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="s-reject">
                                <h4 class="mt-2 text-dark">Rejected Leave Request</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Application No</th>
                                                <th>Application_Date</th>
                                                <th>Employee Name</th>
                                                <th>Mobile No</th>
                                                <th>User</th>
                                                <th>Leave Period</th>
                                                <th>Leave Code</th>
                                                <th>Status</th>
                                                <th>Planner_Start_Date</th>
                                                <th>Return same day</th>
                                                <th>Days Applied</th>
                                                <th>Start Date</th>
                                                <th>Created By</th>
                                                <th>Leave Allowance Payable</th>
                                                <th>Employment Type</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in rej %}
                                            <tr>
                                                <td>{{res.Application_No}}</td>
                                                <td id="rap">{{res.Application_Date}}</td>
                                                <td>{{res.Employee_Name}}</td>
                                                <td>{{res.Mobile_No}}</td>
                                                <td>{{res.User_ID}}</td>
                                                <td>{{res.Leave_Period}}</td>
                                                <td>{{res.Leave_Code}}</td>
                                                <td>{{res.Status}}</td>
                                                <td>{{res.Planner_Start_Date}}</td>
                                                <td>{{res.Return_same_day}}</td>
                                                <td>{{res.Days_Applied}}</td>
                                                <td>{{res.Start_Date}}</td>
                                                <td>{{res.End_Date}}</td>
                                                <td>{{res.Leave_Allowance_Payable}}</td>
                                                <td>{{res.Employment_Type}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Raise Imprest Surrender
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="myForm" action="{% url 'CreateSurrender' %}" method="post">
                        {% csrf_token %}
                        <div class="mb-2"> <span class="w-name">
                                General Information:
                            </span>
                            <div class="row">
                                <div>
                                    <label for="recipient-name" class="col-form-label">Imprest Issue Document No.
                                        :</label>
                                    <select class="form-select" aria-label="Default select example"
                                        name="imprestIssueDocNo">
                                        <option selected>Select Imprest Issue Document No.</option>
                                        {% for res in app %}
                                        <option value="{{res.No_}}">{{res.No_}}-{{res.Payment_Narration}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="my-3">
                                        <label class="form-label">Payee</label>
                                        <input type="text" class="form-control" id="spent" name="payee" placeholder="">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="my-3">
                                        <label class="form-label">Purpose</label>
                                        <textarea class="form-control" id="" name="purpose" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Discard</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}