{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<section class="dash2">
    <div class="content-wrapper general-bg" style="padding-bottom: 5rem;">
        <div class="row" id="proBanner">
            <div class="col-12">
                <span class="d-flex align-items-center purchase-popup">
                    <img src="../../../static/img/logo/fav.png" width="70px" class="img-fluid" alt="" srcset="">
                    <h2 class="text-dark font-weight-bold ml-3"> Leave Requests </h2>
                    <button type="submit" class="btn btn-successs" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"
                        style="margin-left: auto;margin-right:0;outline: none;border: none;"> <i
                            class="las la-plus text-white" style="font-size:15px;"></i> New Leave Request </button>
                </span>

            </div>
        </div>
        <!--alert -->
        {% include 'alerts.html' %}
        <div class="row my-2">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="m-4">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="nav-item">
                                <a href="#home" class="nav-link active" data-bs-toggle="tab">Open
                                    ({{count}})</a>
                            </li>
                            <li class="nav-item">
                                <a href="#pending" class="nav-link" data-bs-toggle="tab">Pending Approval
                                    ({{pend}})</a>
                            </li>
                            <li class="nav-item">
                                <a href="#profile" class="nav-link" data-bs-toggle="tab">Approved
                                    ({{counter}})</a>
                            </li>
                            <li class="nav-item">
                                <a href="#reject" class="nav-link" data-bs-toggle="tab">Rejected
                                    ({{reject}})</a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="home">
                                <h4>Open Leave</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Application No</th>
                                                <th>Status</th>
                                                <th>Planner Start Date</th>
                                                <th>Return same day</th>
                                                <th>Days Applied</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in res %}
                                            <tr>
                                                <td>{{res.Application_No}}</td>
                                                <td id="rap">{{res.Status}}</td>
                                                <td>{{res.Planner_Start_Date}}</td>
                                                <td>{{res.Return_same_day}}</td>
                                                <td>{{res.Days_Applied}}</td>
                                                <td>
                                                    <button class="btn btn-primary" data-toggle="tooltip"
                                                        data-placement="top" title="edit" data-bs-toggle="modal"
                                                        data-bs-target="#editLeave">Edit <i class="fas fa-edit"></i>
                                                    </button>
                                                    <a href="{% url 'LeaveDetail' res.Application_No %} "
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top" title="View"> View <i
                                                            class="far fa-eye"></i>
                                                    </a>
                                                    <!-- Modal Edit Leave -->
                                                    <div class="modal fade" id="editLeave" data-bs-backdrop="static"
                                                        data-bs-keyboard="false" tabindex="-1"
                                                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div
                                                            class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="staticBackdropLabel">
                                                                        Edit Leave
                                                                        Request NO {{res.Application_No}}
                                                                    </h5>
                                                                    <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="myForm needs-validation"
                                                                        action="{% url 'CreateLeave' %}" method="post"
                                                                        novalidate>
                                                                        {% csrf_token %}
                                                                        <div class="mb-2 myForm">
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <input type="hidden"
                                                                                        name="applicationNo"
                                                                                        value="{{res.Application_No}}">
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <input type="hidden" name="myAction"
                                                                                        value="modify">
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <label class="form-label">
                                                                                        Leave Type</label>
                                                                                    <select
                                                                                        class="form-select EditLeaveType"
                                                                                        name="leaveType" required>
                                                                                        <option selected
                                                                                            value="{{res.Leave_Code}}">
                                                                                            {{res.Leave_Code}}</option>
                                                                                        {% for res in leave %}
                                                                                        <option value="{{res.Code}}">
                                                                                            {{res.Description}}</option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row mt-3 EditPlannerStartDateRow"
                                                                                style="display:none">
                                                                                <div class="col-md-12">
                                                                                    <label class="form-label">
                                                                                        Planner Start Date</label>
                                                                                    <select
                                                                                        class="form-select EditPlannerStartDate"
                                                                                        name="plannerStartDate"
                                                                                        disabled>
                                                                                        <option selected disabled
                                                                                            value="">
                                                                                            Choose...</option>
                                                                                        {% for res in plan %}
                                                                                        <option
                                                                                            value="{{res.Start_Date}}">
                                                                                            {{res.Start_Date}}</option>
                                                                                        {% endfor %}
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row EditLeaveStartDateRow"
                                                                                style="display:none">
                                                                                <div class="col-md-12">
                                                                                    <label for=""
                                                                                        class="form-label">Leave Start
                                                                                        Date:</label>
                                                                                    <input type="date"
                                                                                        class="form-control EditLeaveStartDate"
                                                                                        name="plannerStartDate"
                                                                                        disabled>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <label class="form-label"> Return
                                                                                        Same
                                                                                        Day </label>
                                                                                    <select
                                                                                        class="form-select EditReturnSameDay"
                                                                                        name="isReturnSameDay" required>
                                                                                        <option selected value="">Select
                                                                                        </option>
                                                                                        <option value="True">Yes
                                                                                        </option>
                                                                                        <option value="False">No
                                                                                        </option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row EditdayAppliedRow"
                                                                                style="display: none;">
                                                                                <div class="col-md-12">
                                                                                    <label class="form-label">Days
                                                                                        Applied</label>
                                                                                    <input type="number"
                                                                                        class="form-control EditdayApplied"
                                                                                        name="daysApplied"
                                                                                        placeholder="{{res.Days_Applied}}"
                                                                                        disabled>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-danger"
                                                                                data-bs-dismiss="modal">Discard</button>
                                                                            <button type="submit"
                                                                                class="btn btn-primary">Submit</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile">
                                <h4 class="mt-2">Approved Leave</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Application No</th>
                                                <th>Status</th>
                                                <th>Planner Start Date</th>
                                                <th>Return same day</th>
                                                <th>Days Applied</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in response %}
                                            <tr>
                                                <td>{{res.Application_No}}</td>
                                                <td id="rap">{{res.Status}}</td>
                                                <td>{{res.Planner_Start_Date}}</td>
                                                <td>{{res.Return_same_day}}</td>
                                                <td>{{res.Days_Applied}}</td>
                                                <td>
                                                    <a href="{% url 'LeaveDetail' res.Application_No %} "
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View"> View <i class="far fa-eye"></i></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="reject">
                                <h4 class="mt-2">Rejected Leave</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Application No</th>
                                                <th>Status</th>
                                                <th>Planner Start Date</th>
                                                <th>Return same day</th>
                                                <th>Days Applied</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in rej %}
                                            <tr>
                                                <td>{{res.Application_No}}</td>
                                                <td id="rap">{{res.Status}}</td>
                                                <td>{{res.Planner_Start_Date}}</td>
                                                <td>{{res.Return_same_day}}</td>
                                                <td>{{res.Days_Applied}}</td>
                                                <td>
                                                    <a href="{% url 'LeaveDetail' res.Application_No %} "
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View"> View <i class="far fa-eye"></i></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pending">
                                <h4 class="mt-2">Pending Approval Leave</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Application No</th>
                                                <th>Status</th>
                                                <th>Planner Start Date</th>
                                                <th>Return same day</th>
                                                <th>Days Applied</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in pending %}
                                            <tr>
                                                <td>{{res.Application_No}}</td>
                                                <td id="rap">{{res.Status}}</td>
                                                <td>{{res.Planner_Start_Date}}</td>
                                                <td>{{res.Return_same_day}}</td>
                                                <td>{{res.Days_Applied}}</td>
                                                <td>
                                                    <a href="{% url 'LeaveDetail' res.Application_No %} "
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View"> View <i class="far fa-eye"></i></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Create leave Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Raise Leave Request
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm needs-validation" action="{% url 'CreateLeave' %}" method="post" novalidate>
                        {% csrf_token %}
                        <div class="mb-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" name="applicationNo" value="">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" name="myAction" value="insert">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <label class="form-label"> Leave Type</label>
                                    <select class="form-select" id="leaveType" name="leaveType" required>
                                        <option selected disabled value="">Choose...</option>
                                        {% for res in leave %}
                                        <option value="{{res.Code}}">{{res.Description}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3" id="plannerStartDateRow" style="display:none;">
                                <div class="col-md-12">
                                    <label class="form-label"> Planner Start Date</label>
                                    <select class="form-select" id="plannerStartDate" name="plannerStartDate" disabled>
                                        <option selected disabled value="">Choose...</option>
                                        {% for res in plan %}
                                        <option value="{{res.Start_Date}}">{{res.Start_Date}}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="form-text small">Select your annual leave plan start date
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="LeaveStartDateRow" style="display:none">
                                <div class="col-md-12">
                                    <label for="" class="form-label">Leave Start Date:</label>
                                    <input type="date" class="form-control" name="plannerStartDate" id="LeaveStartDate"
                                        disabled>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="isReturnSameDay" class="form-label"> Return Same Day</label>
                                    <select class="form-select" id="isReturnSameDay" name="isReturnSameDay" required>
                                        <option selected value="">Select</option>
                                        <option value="True">Yes</option>
                                        <option value="False">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row" id="daysAppliedRow" style="display:none;">
                                <div class="col-md-12">
                                    <label for="daysApplied" class="form-label">Days Applied</label>
                                    <input type="number" class="form-control" id="daysApplied" name="daysApplied"
                                        disabled>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Discard</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
    $(document).ready(function () {
        // Return Same Day on change to display and hide planner start date
        $('#isReturnSameDay').on('change', function () {
            if (this.value == "False") {
                $('#daysAppliedRow').show(1000)
                $('#daysApplied').prop('disabled', false);
            } else if (this.value == "True") {
                $('#daysApplied').prop('disabled', true);
                $('#daysAppliedRow').hide(1000)
            }
        });
        $('.EditReturnSameDay').on('change', function () {
            if (this.value == "False") {
                $('.EditdayAppliedRow').show(1000)
                $('.EditdayApplied').prop('disabled', false);
            } else if (this.value == "True") {
                $('.EditdayApplied').prop('disabled', true);
                $('.EditdayAppliedRow').hide(1000)
            }
        });
        // Leave type on change to display and hide planner start date
        $('#leaveType').on('change', function () {
            if (this.value == "ANNUAL") {
                $('#plannerStartDateRow').show(1000)
                $('#plannerStartDate').prop('disabled', false);
                $('#LeaveStartDateRow').hide(1300)
                $('#LeaveStartDate').prop('disabled', true);
            } else {
                $('#plannerStartDate').prop('disabled', true);
                $('#plannerStartDateRow').hide(1000);
                $('#LeaveStartDateRow').show(1300)
                $('#LeaveStartDate').prop('disabled', false);
            }
        });
        $('.EditLeaveType').on('change', function () {
            if (this.value == "ANNUAL") {
                $('.EditPlannerStartDateRow').show(1000)
                $('.EditPlannerStartDate').prop('disabled', false);
                $('.EditLeaveStartDateRow').hide(1300)
                $('.EditLeaveStartDate').prop('disabled', true);
            } else {
                $('.EditPlannerStartDate').prop('disabled', true);
                $('.EditPlannerStartDateRow').hide(1000);
                $('.EditLeaveStartDateRow').show(1300)
                $('.EditLeaveStartDate').prop('disabled', false);
            }
        });
    })
</script>

{% endblock %}