{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<section class="dash2">
    <div class="content-wrapper">
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> Leave Requests </h2>

            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">
                    {% if state == 1 %}
                    <button class="btn btn-successs p-3 d-flex align-items-center" type="button" data-bs-toggle="modal"
                        data-bs-target="#Attachment"> <i class="fas fa-upload mr-1"></i> Upload Attachment
                    </button>
                    {% elif state == 3 %}
                    <form action="{% url 'FnGenerateLeaveReport' res.Application_No%}" method="post" class="d-flex">
                        {% csrf_token %}
                        <button class="btn btn-successs p-3 d-flex align-items-center" type="submit"> Generate
                            Report</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--alert -->
        {% include 'alerts.html' %}
        <div class="row my-3">
            <div class="col-md-3">
                <div class="card l-bg-cherry statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-file"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Leave Type</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0" style="text-transform:lowercase;">
                                    {{res.Leave_Code}} Leave
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-blue-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-file"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Leave Status</h5>
                        </div>
                        {% if res.Status == "Open" %}
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Status}}
                                </h2>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-red" role="progressbar" data-width="50%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width: 50%; background: linear-gradient(to right, #a86008, #c18b39) !important;">
                            </div>
                        </div>
                        {% elif res.Status == "Pending Approval" %}
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Status}}
                                </h2>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-yellow" role="progressbar" data-width="25%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width: 75%; background: linear-gradient(to right, #a86008, #c18b39) !important;">
                            </div>
                        </div>
                        {% elif res.Status == "Released" %}
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    Approved
                                </h2>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-green" role="progressbar" data-width="75%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width: 100%; background: linear-gradient(to right, #a86008, #c18b39) !important;">
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card l-bg-orange-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-calendar-times"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Days Applied</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Days_Applied}} days
                                </h2>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-green-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-calendar-alt"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Leave Balance</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Leave_balance}} days
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-md-12">
                <form class="row g-3">
                    <div class="col-md-4">
                        <label class="form-label">Leave Number</label>
                        <input type="text" class="form-control" placeholder="{{res.Application_No}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Application Date</label>
                        <input type="text" class="form-control" placeholder="{{res.Application_Date}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Employee No</label>
                        <input type="text" class="form-control" placeholder="{{res.Employee_No}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Start Date</label>
                        <input type="text" class="form-control" placeholder="{{res.Start_Date}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Leave Period</label>
                        <input type="text" class="form-control" placeholder="{{res.Leave_Period}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">User</label>
                        <input type="text" class="form-control" placeholder="{{res.User_ID}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Planner Start Date</label>
                        <input type="text" class="form-control" placeholder="{{res.Planner_Start_Date}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Return same day</label>
                        <input type="text" class="form-control" placeholder="{{res.Return_same_day}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Leave Allowance Payable</label>
                        <input type="text" class="form-control" placeholder="{{res.Leave_Allowance_Payable}}" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">End Date</label>
                        <input type="text" class="form-control" placeholder="{{res.End_Date}}" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Employment Type</label>
                        <input type="text" class="form-control" placeholder="{{res.Employment_Type}}" readonly>
                    </div>
                </form>
                {% if state == 1 %}
                <div class="d-grid gap-2 my-3">
                    <form action="{% url 'LeaveApprove' res.Application_No %}" method="POST" class="myForm"
                        id="approvalForm">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="hidden" hidden name="applicationNo" value="{{res.Application_No}}">
                        </div>
                        <button class="btn btn-info" type="submit">Request For Approval</button>
                    </form>
                </div>
                {% elif state == 2 %}
                <div class="d-grid gap-2 my-3">
                    <form action="{% url 'LeaveCancel' res.Application_No %}" method="POST" class="myForm"
                        id="approvalForm">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="hidden" hidden name="applicationNo" value="{{res.Application_No}}">
                        </div>
                        <button class="btn btn-info" type="submit">Cancel Request For Approval</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        {% if state == 2 %}
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <h4 class="mt-2 mx-2 text-dark">Document Approvers</h4>
                    <div class="card-body">
                        <table id="example"
                            class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                            style="width:100%">
                            <thead>
                                <tr id="tops">
                                    <th id="long">Entry No</th>
                                    <th>Name</th>
                                    <th>Sequence</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in Approvers %}
                                <tr>
                                    <td>{{res.Entry_No_}}</td>
                                    <td>{{res.Approver_ID}}</td>
                                    <td>{{res.Sequence_No_}}</td>
                                    <td>{{res.Status}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

    <!-- Modal -->
    <div class="modal fade" id="Attachment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload Attachment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="{% url 'UploadLeaveAttachment' res.Application_No %}" method="post" class="myForm"
                        enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class=" mb-3">
                            <label class="form-label">Attachments</label>
                            <input class="form-control" name="attachment" type="file" multiple>
                        </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>

</section>
<script>
    $(document).ready(function () {
        $("#approveBtn").click(function () {
            $("#approvalForm").toggle(500)
        })
    })
</script>
{% endblock %}