{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<section class="dash2">
    <div class="content-wrapper" style="padding-bottom: 5rem;">
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> Loan Requests <button class="btn btn-primary"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop"> <i class="las la-plus"></i> New Loan
                    Request</button></h2>

            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">
                    <button class="btn bg-white dropdown-toggle p-3 d-flex align-items-center" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                            class="mdi mdi-calendar mr-1"></i>{{today}}
                    </button>
                </div>
            </div>
        </div>
        <!--alert -->
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success d-flex align-items-center alert-dismissible alert-success" role="alert">
            <i class="las la-check-double" style="color: white;font-size: 2rem"></i>
            <div class="a-icon mx-2">
                {{message}}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger d-flex align-items-center alert-dismissible alert-warn" role="alert">
            <i class="las la-exclamation-triangle" style="color: white;font-size: 2rem"></i>
            <div class="a-icon mx-2">
                {{message}}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="row my-2">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="m-4">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="nav-item">
                                <a href="#home" class="nav-link active" data-bs-toggle="tab">New Loan Request
                                    ({{count}})</a>
                            </li>
                            <li class="nav-item">
                                <a href="#profile" class="nav-link" data-bs-toggle="tab">Approved Loan Request
                                    ({{counter}})</a>
                            </li>
                            <li class="nav-item">
                                <a href="#reject" class="nav-link" data-bs-toggle="tab">Rejected Loan Request
                                    (0)</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="home">
                                <h4 class="mt-2 text-dark">Open Imprest Requisitions</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Request No</th>
                                                <th>Request Date</th>
                                                <th>Adhoc</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>No Of Days</th>
                                                <th>Destination</th>
                                                <th>Currency</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in res %}
                                            <tr>
                                                <td>{{res.Request_No_}}</td>
                                                <td id="rap">{{res.Request_Date}}</td>
                                                <td>{{res.Adhoc}}</td>
                                                <td>{{res.Planned_Start_Date}}</td>
                                                <td>{{res.Planned_End_Date}}</td>
                                                <td>{{res.No__Of_Days}}</td>
                                                <td>{{res.Destination}}</td>
                                                <td>{{res.Currency}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile">
                                <h4 class="mt-2">Approved Imprest Requisitions</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Request No</th>
                                                <th>Request Date</th>
                                                <th>Adhoc</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>No Of Days</th>
                                                <th>Destination</th>
                                                <th>Currency</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in response %}
                                            <tr>
                                                <td>{{res.Request_No_}}</td>
                                                <td id="rap">{{res.Request_Date}}</td>
                                                <td>{{res.Adhoc}}</td>
                                                <td>{{res.Planned_Start_Date}}</td>
                                                <td>{{res.Planned_End_Date}}</td>
                                                <td>{{res.No__Of_Days}}</td>
                                                <td>{{res.Destination}}</td>
                                                <td>{{res.Currency}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="reject">
                                <h4 class="mt-2">Rejected Imprest Requisitions</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Request No</th>
                                                <th>Request Date</th>
                                                <th>Adhoc</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>No Of Days</th>
                                                <th>Destination</th>
                                                <th>Currency</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in rej %}
                                            <tr>
                                                <td>{{res.Request_No_}}</td>
                                                <td id="rap">{{res.Request_Date}}</td>
                                                <td>{{res.Adhoc}}</td>
                                                <td>{{res.Planned_Start_Date}}</td>
                                                <td>{{res.Planned_End_Date}}</td>
                                                <td>{{res.No__Of_Days}}</td>
                                                <td>{{res.Destination}}</td>
                                                <td>{{res.Currency}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">New Loan Request
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm needs-validation" action="{% url 'NewLoan' %}" method="post" novalidate>
                        {% csrf_token %}
                        <div class="mb-2"> <span class="w-name">
                                Leave Request Header:
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="" class="form-label">Request Date:</label>
                                        <input type="date" name="requestedDate" class="form-control" required>
                                        <div class="invalid-feedback">
                                            Please Select Request Date.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="form-label">PML</label>
                                        <select class="form-select" name="pmlNo" required>
                                            <option selected disabled value="">Select PML</option>
                                            {% for res in pml %}
                                            <option value="{{res.No_}}">{{res.Name}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="invalid-feedback">
                                            Please Select Valid PML.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="form-label">Loan Product Type</label>
                                        <select class="form-select" name="loanProductType" required>
                                            <option selected disabled value="">Select </option>
                                            <option value="True">True</option>
                                            <option value="False">False</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please Select Valid Loan Product Type.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="" class="form-label">Loan Duration:</label>
                                        <input type="number" name="loanDuration" class="form-control" placeholder=""
                                            required>
                                        <div class="invalid-feedback">
                                            Please Enter Valid Loan Duration.
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="" class="form-label">Requested Amount:</label>
                                        <input type="text" name="requestedAmount" class="form-control" placeholder=""
                                            required>
                                        <div class="invalid-feedback">
                                            Please Enter Valid Loan Request Amount.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="form-label">Interest Calculation Method</label>
                                        <select class="form-select" name="interestCalculationMethod" required>
                                            <option selected disabled value="">Select </option>
                                            <option value="True">True</option>
                                            <option value="False">False</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please Select Interest Calcualtion Method.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="form-label">Repayment Frequency</label>
                                        <select class="form-select" name="repaymentFrequency" required>
                                            <option selected disabled value="">Select </option>
                                            <option value="True">True</option>
                                            <option value="False">False</option>
                                        </select>
                                        <div class="invalid-feedback">
                                            Please Select Valid Repayment Frequency.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label class="form-label">Bank Name</label>
                                        <select class="form-select" name="bankName" required>
                                            <option selected disabled value="">Select Bank </option>
                                            {% for res in banks %}
                                            <option value="{{res.Code}}">{{res.Name}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="invalid-feedback">
                                            Please Select Valid Bank Name.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="" class="form-label">Bank Branch Name:</label>
                                        <select class="form-select" name="bankName" required>
                                            <option selected disabled value="">Select Bank </option>
                                            {% for res in branch %}
                                            <option value="{{res.Branch_Code}}">{{res.Branch_Name}}</option>
                                            {% endfor %}
                                        </select>
                                        <div class="invalid-feedback">
                                            Please Select Valid Bank Branch.
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="" class="form-label">bank Account No:</label>
                                        <input type="text" name="bankAccountNo" class="form-control" placeholder=""
                                            required>
                                        <div class="invalid-feedback">
                                            Please Valid Bank Account No.
                                        </div>
                                    </div>
                                </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Discard</button>
                            <button type="submit" id="sasa" class="btn btn-primary">Submit</button>
                        </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}