{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<section class="dash2">
    <div class="content-wrapper">
        <div class="row" id="proBanner">
            <div class="col-12">
                <span class="d-flex align-items-center purchase-popup">
                    <img src="../../../static/img/logo/fav.png" width="70px" class="img-fluid" alt="" srcset="">
                    <h2 class="text-dark font-weight-bold ml-3"> P9 Form </h2>
                </span>

            </div>
        </div>

        <!--alert -->
        {% include 'alerts.html' %}
        <div class="row mt-5">
            <div class="col-md-12">
                <form class="myForm needs-validation" action="{% url 'pNine' %}" method="post" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <label class="form-label">Payment Period</label>
                            <select class="form-select" name="startDate" required>
                                <option selected disabled value="">Select Payment Period</option>
                                {% for res in res %}
                                <option value="{{res.Starting_Date}}">{{res.Starting_Date|slice:"4" }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid Payment Period.
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary my-3">Preview P9</button>
                </form>
            </div>
        </div>
    </div>

</section>
<script>
    $(document).ready(function () {
        $("#approveBtn").click(function () {
            $("#approvalForm").toggle(500)
        })
    })
</script>
{% endblock %}