{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<section class="dash2">
    <div class="content-wrapper">
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> P9 Form
            </h2>

            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">
                    <button class="btn bg-white dropdown-toggle p-3 d-flex align-items-center" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                            class="mdi mdi-calendar mr-1"></i>{{today}}
                    </button>
                </div>
            </div>
        </div>
        <!--alert -->
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success d-flex align-items-center alert-dismissible alert-success" role="alert">
            <i class="las la-check-double" style="color: white;font-size: 2rem"></i>
            <div class="a-icon mx-2">
                {{message}}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger d-flex align-items-center alert-dismissible alert-warn" role="alert">
            <i class="las la-exclamation-triangle" style="color: white;font-size: 2rem"></i>
            <div class="a-icon mx-2">
                {{message}}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="row mt-5">
            <div class="col-md-12">
                <form class="myForm needs-validation" action="{% url 'pNine' %}" method="post" novalidate>
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <label  class="form-label">Payment Period</label>
                            <select class="form-select"  name="startDate" required>
                                <option selected disabled value="">Select Payment Period</option>
                                {% for res in res %}
                                <option value="{{res.Starting_Date}}">{{res.Starting_Date|slice:"4" }}</option>
                                {% endfor %}
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid Payment Period.
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary my-3">Generate P9</button>
                </form>
            </div>
        </div>
    </div>

</section>
<script>
    $(document).ready(function () {
        $("#approveBtn").click(function () {
            $("#approvalForm").toggle(500)
        })
    })
</script>
{% endblock %}