{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<section class="dash2">
    <div class="content-wrapper">
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> Leave Planner Details
            </h2>

            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">
                    <button class="btn btn-successs  p-3 d-flex align-items-center" type="button" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"><i class="las la-plus"></i> New Leave
                        Planner Lines
                    </button>
                </div>
            </div>
        </div>
        <!--alert -->
        {% include 'alerts.html' %}
        <div class="row my-3">
            <div class="col-md-3">
                <div class="card l-bg-cherry statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Employee No</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0" style="text-transform:lowercase;">
                                    {{res.Employee_No_}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-blue-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-file"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Plan Number</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.No_}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-green-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-calendar-alt"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Leave Period</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Leave_Period}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-orange-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-calendar-times"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Days Planned</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Days_Planned}}
                                </h2>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="row g-3">
                    <div class="col-md-6">
                        <label class="form-label">Plan Number</label>
                        <input type="text" class="form-control" placeholder="{{res.No_}}" readonly>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label">Date Created</label>
                        <input type="text" class="form-control" placeholder="{{res.Date}}" readonly>
                    </div>
                </form>
                {% if state == 1 %}
                <div class="d-grid gap-2 my-3">
                    <form action="{% url 'FnSubmitLeavePlanner' res.No_ %}" method="POST" class="myForm"
                        id="approvalForm">
                        {% csrf_token %}
                        <button class="btn btn-info" type="submit">Request For Approval</button>
                    </form>
                </div>
                {% elif state == 2 %}
                <div class="d-grid gap-2 my-3">
                    <form action="{% url 'FnSubmitLeavePlanner' res.No_ %}" method="POST" class="myForm"
                        id="approvalForm">
                        {% csrf_token %}
                        <button class="btn btn-info" type="submit">Cancel Request For Approval</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <h4 class="mt-2 mx-2 text-dark">Leave Planner Lines </h4>
                    <div class="card-body">
                        <table id="example"
                            class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                            style="width:100%">
                            <thead>
                                <tr id="tops">
                                    <th id="long">Start Date</th>
                                    <th>End Date</th>
                                    <th>Days</th>
                                    <th>Leave Period</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in line %}
                                <tr>
                                    <td>{{res.Start_Date}}</td>
                                    <td>{{res.End_Date}}</td>
                                    <td>{{res.Days}}</td>
                                    <td>{{res.Leave_Period}}</td>
                                    <td>
                                        <form action="{% url 'FnDeleteLeavePlannerLine' res.Document_No_ %}"
                                            method="post" style="display: inline-block;">
                                            {% csrf_token %}
                                            <input type="hidden" name="lineNo" value="{{res.Line_No_}}">
                                            <button type="submit" class="btn btn-danger" data-toggle="tooltip"
                                                data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i>
                                            </button>
                                        </form>

                                        <a href="{% url 'PlannerLine' res.Document_No_ %}" class="btn btn-primary"
                                            data-toggle="tooltip" data-placement="top" title="edit"
                                            data-bs-toggle="modal" data-bs-target="#trainedit"><i
                                                class="fas fa-edit"></i>
                                        </a>
                                    </td>
                                </tr>
                                <!-- Modal to Edit Planner Lines -->
                                <div class="modal fade" id="trainedit" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel">Edit Training Line No
                                                    {{res.Line_No_}}
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body myForm">
                                                <form class="" action="{% url 'PlannerLine' res.Document_No_ %}"
                                                    method="post">
                                                    {% csrf_token %}
                                                    <div class="mb-2">
                                                        <span class="w-name">
                                                            Edit Plan Line No {{res.Line_No_}}:
                                                        </span>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <input type="hidden" name="lineNo"
                                                                    value="{{res.Line_No_}}">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label for="" class="form-label">Start
                                                                    Date:</label>
                                                                <input type="date" class="form-control" name="startDate"
                                                                    placeholder="{{res.Start_Date}}">

                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label for="" class="form-label">End
                                                                    Date:</label>
                                                                <input type="date" class="form-control" name="endDate"
                                                                    placeholder="{{res.End_Date}}">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <input type="hidden" name="myAction" value="modify">
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-danger"
                                                    data-bs-dismiss="modal">Discard</button>
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% if state == 2 %}
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <h4 class="mt-2 mx-2 text-dark">Document Approvers</h4>
                    <div class="card-body">
                        <table id="example"
                            class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                            style="width:100%">
                            <thead>
                                <tr id="tops">
                                    <th id="long">Entry No</th>
                                    <th>Name</th>
                                    <th>Sequence</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in Approvers %}
                                <tr>
                                    <td>{{res.Entry_No_}}</td>
                                    <td>{{res.Approver_ID}}</td>
                                    <td>{{res.Sequence_No_}}</td>
                                    <td>{{res.Status}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>

</section>
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Leave Planner Lines
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="myForm needs-validation" action="{% url 'PlannerLine' res.No_ %}" method="post" novalidate>
                    {% csrf_token %}
                    <div class="mb-2">
                        <span class="w-name">
                            Leave Plan Lines:
                        </span>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" name="lineNo" value="0">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="" class="form-label">Start
                                    Date:</label>
                                <input type="date" class="form-control" name="startDate" required>
                                <div class="invalid-feedback">
                                    Please select a valid Start Date.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="" class="form-label">End
                                    Date:</label>
                                <input type="date" class="form-control" name="endDate" required>
                                <div class="invalid-feedback">
                                    Please select a valid End Date.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" name="myAction" value="insert">
                            </div>
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Discard</button>
                <button type="submit" id="sasa" class="btn btn-primary">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#approveBtn").click(function () {
            $("#approvalForm").toggle(500)
        })
    })
</script>
{% endblock %}