{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<section class="dash2">
    <div class="content-wrapper general-bg" style="padding-bottom: 5rem;">
        <div class="row" id="proBanner">
            <div class="col-md-12">
                <span class="d-flex align-items-center purchase-popup">
                    <img src="../../../static/img/logo/fav.png" width="70px" class="img-fluid" alt="" srcset="">
                    <h2 class="text-dark font-weight-bold ml-3"> Annual Leave Plan </h2>
                    <form action="{% url 'CreatePlanner' %}" method="post"
                        style="margin-left: auto;margin-right:0;outline: none;border: none;">
                        {% csrf_token %}
                        <input type="hidden" name="myAction" value="insert">
                        <button type="submit" class="btn btn-successs"> <i class="las la-plus text-white"
                                style="font-size:15px;"></i> New Leave
                            Plan</button>
                    </form>
                </span>

            </div>
        </div>
        <!--alert -->
        {% include 'alerts.html' %}
        <div class="row my-2">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="m-4">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="nav-item">
                                <a href="#home" class="nav-link active text-dark" data-bs-toggle="tab">Open Leave
                                    Plan</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="home">
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Plan No</th>
                                                <th>Employee No </th>
                                                <th>Date</th>
                                                <th>Days Planned</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in res %}
                                            <tr>
                                                <td>{{res.No_}}</td>
                                                <td id="rap">{{res.Employee_No_}}</td>
                                                <td>{{res.Date}}</td>
                                                <td>{{res.Days_Planned}}</td>
                                                <td>
                                                    <a href="{% url 'PlanDetail' res.No_ %}" class="btn btn-success"
                                                        type="button" data-toggle="tooltip" data-placement="top"
                                                        title="Click to View">View <i class="far fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
{% endblock %}