{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<section class="dash2">
    <div class="content-wrapper general-bg" style="padding-bottom: 5rem;">
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> Training Requests <button class="btn btn-primary"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop"> <i class="las la-plus"></i> New Imprest
                    Requisition</button></h2>

            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">
                    <button class="btn bg-white dropdown-toggle p-3 d-flex align-items-center" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                            class="mdi mdi-calendar mr-1"></i>{{today}}
                    </button>
                </div>
            </div>
        </div>
        <!--alert -->
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success d-flex align-items-center alert-dismissible alert-success" role="alert">
            <i class="las la-check-double" style="color: white;font-size: 2rem"></i>
            <div class="a-icon mx-2">
                {{message}}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger d-flex align-items-center alert-dismissible alert-warn" role="alert">
            <i class="las la-exclamation-triangle" style="color: white;font-size: 2rem"></i>
            <div class="a-icon mx-2">
                {{message}}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="row my-2">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="m-4">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="nav-item">
                                <a href="#home" class="nav-link active" data-bs-toggle="tab">New Training Request
                                    ({{count}})</a>
                            </li>
                            <li class="nav-item">
                                <a href="#profile" class="nav-link" data-bs-toggle="tab">Approved Training Request
                                    ({{counter}})</a>
                            </li>
                            <li class="nav-item">
                                <a href="#reject" class="nav-link" data-bs-toggle="tab">Rejected Training Request
                                    (0)</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="home">
                                <h4 class="mt-2 text-dark">Open Training Request</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Request No</th>
                                                <th>Request Date</th>
                                                <th>Adhoc</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>No Of Days</th>
                                                <th>Edit</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in res %}
                                            <tr>
                                                <td>{{res.Request_No_}}</td>
                                                <td id="rap">{{res.Request_Date}}</td>
                                                <td>{{res.Adhoc}}</td>
                                                <td>{{res.Planned_Start_Date}}</td>
                                                <td>{{res.Planned_End_Date}}</td>
                                                <td>{{res.No__Of_Days}}</td>

                                                <td><button class="btn btn-primary btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top" title="Edit"><i
                                                            class="fa fa-edit"></i></button>
                                                </td>
                                                <td><a href="{% url 'TrainingDetail' res.Request_No_ %}"
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top" title="View"><i
                                                            class="fa fa-table"></i></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile">
                                <h4 class="mt-2">Approved Training Request</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Request No</th>
                                                <th>Request Date</th>
                                                <th>Adhoc</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>No Of Days</th>
                                                <th>Destination</th>
                                                <th>Currency</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in response %}
                                            <tr>
                                                <td>{{res.Request_No_}}</td>
                                                <td id="rap">{{res.Request_Date}}</td>
                                                <td>{{res.Adhoc}}</td>
                                                <td>{{res.Planned_Start_Date}}</td>
                                                <td>{{res.Planned_End_Date}}</td>
                                                <td>{{res.No__Of_Days}}</td>
                                                <td>{{res.Destination}}</td>
                                                <td>{{res.Currency}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="reject">
                                <h4 class="mt-2">Rejected Training Request</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Request No</th>
                                                <th>Request Date</th>
                                                <th>Adhoc</th>
                                                <th>Start Date</th>
                                                <th>End Date</th>
                                                <th>No Of Days</th>
                                                <th>Destination</th>
                                                <th>Currency</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in rej %}
                                            <tr>
                                                <td>{{res.Request_No_}}</td>
                                                <td id="rap">{{res.Request_Date}}</td>
                                                <td>{{res.Adhoc}}</td>
                                                <td>{{res.Planned_Start_Date}}</td>
                                                <td>{{res.Planned_End_Date}}</td>
                                                <td>{{res.No__Of_Days}}</td>
                                                <td>{{res.Destination}}</td>
                                                <td>{{res.Currency}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">New Training Request
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm needs-validation" action="{% url 'CreateTrainingRequest' %}" method="post"
                        novalidate>
                        {% csrf_token %}
                        <div class="mb-2"> <span class="w-name">
                                Training Request Header:
                            </span>
                            <div class="row mt-3">
                                <div class="col-md-12">
                                    <label for="isAdhoc" class="form-label">Adhoc</label>
                                    <select class="form-select" id="isAdhoc" name="isAdhoc" required>
                                        <option selected disabled value="">Select </option>
                                        <option value="True">True</option>
                                        <option value="False">False</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select a valid option.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="trainingNeed" class="form-label">Training Need</label>
                                    <select class="form-select" id="trainingNeed" name="trainingNeed" required>
                                        <option selected disabled value="">Select Training Need </option>
                                        {% for res in train %}
                                        <option value="{{res.Code}}">{{res.Description}}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select a valid Training Need.
                                    </div>

                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="" class="form-label">Start Date:</label>
                                    <input type="date" class="form-control" name="startDate" required>
                                    <div class="invalid-feedback">
                                        Please select a valid Start Date.
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="" class="form-label">End Date:</label>
                                    <input type="date" class="form-control" name="endDate" required>
                                    <div class="invalid-feedback">
                                        Please select a valid End Date.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="destination" class="form-label">Destination</label>
                                    <select class="form-select" id="destination" name="destination" required>
                                        <option selected disabled value="">Select Destination</option>
                                        {% for res in des %}
                                        <option value="{{res.Destination_Code}}">{{res.Destination_Code}}</option>
                                        {% endfor %}
                                    </select>'
                                    <div class="invalid-feedback">
                                        Please select a valid Destination.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="currency" class="form-label">Currency</label>
                                    <select class="form-select" id="currency" name="currency" required>
                                        <option selected disabled value="">Select </option>
                                        {% for res in cur %}
                                        <option value="{{res.Code}}">{{res.Description}} ({{res.Code}})</option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select a valid Currency.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="description" class="form-label">Description</label>
                                    <textarea class="form-control" name="description" rows="3" required></textarea>
                                    <div class="invalid-feedback">
                                        Description can't be empty .
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Discard</button>
                                <button type="submit" id="sasa" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</section>

{% endblock %}