{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<section class="dash2">
    <div class="content-wrapper" style="background: #6c8aaf;padding-bottom: 5rem;">
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> Closed Tenders</h2>
            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">
                    <button class="btn bg-white dropdown-toggle p-3 d-flex align-items-center" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                            class="mdi mdi-calendar mr-1"></i>{{today}}
                    </button>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="card-title">
                        <h6>
                            Closed Tenders List
                        </h6>
                    </div>
                    <div class="card-body">
                        <table id="example" class="table table-striped table-bordered dt-responsive table-responsive-lg"
                            style="width:100%">
                            <thead>
                                <tr id="tops">
                                    <th id="long">Event No</th>
                                    <th>Event Name</th>
                                    <th>Event Description</th>
                                    <th>Status</th>
                                    <th>Archived</th>
                                    <th>Entry No</th>
                                    <th>Invoicing Method</th>
                                    <th>Chargeable</th>
                                    <th>Amount</th>
                                    <th>Event_Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in res %}
                                <tr>
                                    <td>{{res.Event_No}}</td>
                                    <td id="rap">{{res.Event_Name}}</td>
                                    <td id="rap">{{res.Event_Description}}</td>
                                    <td>{{res.Status}}</td>
                                    <td>{{res.Archived}}</td>
                                    <td>{{res.Entry_No}}</td>
                                    <td>{{res.Invoicing_Method}}</td>
                                    <td>{{res.Chargeable}}</td>
                                    <td>{{res.Amount}}</td>
                                    <td>{{res.Event_Type}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}