{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<section class="dash2">
    <div class="content-wrapper" style="background: #6c8aaf;padding-bottom: 8rem;">
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> Submitted Open Tenders</h2>
            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">
                    <button class="btn bg-white dropdown-toggle p-3 d-flex align-items-center" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                            class="mdi mdi-calendar mr-1"></i>{{today}}
                    </button>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="card-title">
                        <h6>
                            Submitted Open Tenders List
                        </h6>
                    </div>
                    <div class="card-body">
                        <table id="example" class="table table-striped table-bordered dt-responsive table-responsive-lg"
                            style="width:100%">
                            <thead>
                                <tr id="tops">
                                    <th id="long">Event No</th>
                                    <th>Event Name</th>
                                    <th>Event Description</th>
                                    <th>Status</th>
                                    <th>Archived</th>
                                    <th>Entry No</th>
                                    <th>Invoicing Method</th>
                                    <th>Chargeable</th>
                                    <th>Amount</th>
                                    <th>Event_Type</th>
                                    <th>Type</th>
                                    <th>Evaluation Status</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in res %}
                                <tr>
                                    <td>{{res.Event_No}}</td>
                                    <td id="rap">{{res.Event_Name}}</td>
                                    <td id="rap">{{res.Event_Description}}</td>
                                    <td>{{res.Status}}</td>
                                    <td>{{res.Archived}}</td>
                                    <td>{{res.Entry_No}}</td>
                                    <td>{{res.Invoicing_Method}}</td>
                                    <td>{{res.Chargeable}}</td>
                                    <td>{{res.Amount}}</td>
                                    <td>{{res.Event_Type}}</td>
                                    <td>2 Envelope</td>
                                    <td> <span style="background-color: yellow;padding: 3px;">Mandatory Stage</span>
                                    </td>
                                    <td>
                                        <a type="button" href="" data-bs-toggle="modal"
                                            data-bs-target="#{{res.Event_No}}" class="btn btn-success btn-icon-text"
                                            style="background: #25CC88;">
                                            <i class="las la-external-link-alt" style="font-size: 1rem"></i> Respond
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="modal fade" id="{{res.Event_No}}" data-bs-backdrop="static" data-bs-keyboard="false"
                            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="staticBackdropLabel">Response
                                        </h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                            aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <form id="regForm">
                                            <h3>Evaluation Type: 1 Envelope </h3>
                                            <!-- One "tab" for each step in the form: -->
                                            <div class="tab"> <span class="w-name">
                                                    Mandatory Requirements:
                                                </span>
                                                <p>
                                                    <label for="">Attachment 1:</label>
                                                    <input type="file" oninput="this.className = ''" name="file1">
                                                </p>
                                                <p>
                                                    <label for="">Attachment 2:</label>
                                                    <input type="file" oninput="this.className = ''" name="file2">
                                                </p>
                                                <p>
                                                    <label for="">Attachment 3:</label>
                                                    <input type="file" oninput="this.className = ''" name="file3">
                                                </p>
                                            </div>
                                            <div class="tab"><span class="w-name">
                                                    Technical Proposal:
                                                </span>
                                                <p>
                                                    <label for="">Attachment 1:</label>
                                                    <input type="file" oninput="this.className = ''" name="file4">
                                                </p>
                                                <p>
                                                    <label for="">Attachment 2:</label>
                                                    <input type="file" oninput="this.className = ''" name="file5">
                                                </p>
                                                <p>
                                                    <label for="">Attachment 3:</label>
                                                    <input type="file" oninput="this.className = ''" name="file6">
                                                </p>
                                            </div>
                                            <div class="tab"> <span class="w-name">
                                                    Financial Proposal:
                                                </span>
                                                <p>
                                                    <label for="">Amount:</label>
                                                    <input type="text" class="form-control" name="Kshs"
                                                        placeholder="Amount">
                                                </p>
                                                <p>
                                                    <label for="" class="form-label">Comment:</label>
                                                    <textarea class="form-control" rows="3"></textarea>
                                                </p>
                                            </div>
                                            <div style="overflow:auto;">
                                                <div style="float:right;">
                                                    <button type="button" id="prevBtn"
                                                        onclick="nextPrev(-1)">Previous</button>
                                                    <button type="button" id="nextBtn"
                                                        onclick="nextPrev(1)">Next</button>
                                                </div>
                                            </div>
                                            <!-- Circles which indicates the steps of the form: -->
                                            <div style="text-align:center;margin-top:40px;">
                                                <span class="step"></span>
                                                <span class="step"></span>
                                                <span class="step"></span>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger"
                                            data-bs-dismiss="modal">Discard</button>
                                        <button type="button" class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}