@import url('https://fonts.googleapis.com/css2?family=Gelasio&family=Hind:wght@300&family=Titillium+Web:wght@200&display=swap');

:root {
    --first-color: #144a85;
    --first-color-light: #6c8aaf;
    --green-color: #134326;
    --red-color: #e51e25;
    --sand-tan: #e1b382;
    --dark-color: #444a4a;
    --olive: #A3BCB6;
    --white-color: #F7F6FB;
    --primary-font: 'Gelasio', serif;
    --normal-font: 'Titillium Web', sans-serif;
    --third-font: 'Hind', sans-serif;
    --shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(119, 117, 117, 0.2), 0 1px 5px 0 rgba(128, 125, 125, 0.12);

}

@media screen and (max-width: 425px) {
    #pr {
        margin-bottom: 1rem;
    }

    #formContainer {
        margin-top: 1rem;
    }
}

/* btns */
.dropBtn {
    background-color: var(--first-color);
    font-family: var(--body-font);
    border: 1px solid var(--first-color);
    color: var(--white-color)
}

.dropBtn:hover {
    background-color: var(--first-color);
    border: 1px solid var(--first-color);
    color: var(--white-color)
}

.normBtn {
    background-color: var(--green-color);
    font-family: var(--body-font);
    border: 1px solid var(--green-color);
    color: var(--white-color)
}

.normBtn:hover {
    background-color: var(--sand-tan);
    border: 1px solid var(--sand-tan);
    color: var(--dark-color)
}

.dash1 {
    background: var(--green-color);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 6px;
    box-shadow: var(--shadow);
}

/* end */

#res_card {
    margin: 2rem;
    max-width: 1000px;
    box-shadow: var(--shadow);
}

@media screen and (max-width:1400px) {
    #res_card {
        margin: 2rem;
        max-width: 920px;
        box-shadow: var(--shadow);
    }
}

.card_exp {
    margin: 2rem;
    max-width: auto;
    box-shadow: var(--shadow);
}

.page-item.active .page-link {
    background-color: var(--green-color) !important;
    border: 1px solid var(--green-color);
}

.page-link {
    color: var(--dark-color) !important;
}

.modal-header {
    background: #134326;
    color: white;
}

/* #rap {
    word-wrap: break-word;
    word-break: break-all;
} */
.table {
    border-collapse: collapse;
}

.table thead {
    height: 3rem;
    background: var(--first-color);
}

.table thead tr th {
    color: white;
    text-shadow: 0 1px 0 var(--first-color);
    font-weight: bold;

}

.page-link {
    color: var(--dark-color) !important;
}

.page-item.active .page-link {
    background-color: var(--olive) !important;
    border: 1px solid var(--olive);
    color: white;
}


.table tbody tr td {
    color: #222;
    text-align: inherit;
}

.brs {
    color: #e1b382;
}

div.dataTables_filter input {
    border-color: var(--first-color);
    display: none;
}

@media screen and (max-width:375px) {
    div.dataTables_filter input {
        border-color: var(--first-color);
    }
}

@media screen and (max-width:425px) {
    #dt-sm {
        margin-top: 10px;
    }
}

#dt-card {
    border-radius: 8px;
    background: var(--white-color);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(119, 117, 117, 0.2), 0 1px 5px 0 rgba(128, 125, 125, 0.12);
}

#dt-card .card-header {
    color: black;
    padding: 15px;
    font-family: var(--third-font);
    font-weight: bold;
}

#dt-body {
    background-color: white;
    color: black;
    font-family: var(--third-font);
}

#dt-sm {
    background-color: var(--green-color);
    border-radius: 8px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(119, 117, 117, 0.2), 0 1px 5px 0 rgba(128, 125, 125, 0.12);
}

#dt-sm .card-header {
    padding: 15px;
    font-family: var(--third-font);
    font-weight: bold;
}

.dt-txt p {
    font-weight: bold;
    font-family: var(--normal-font);
    color: #000;
}

/* longer td in tables */
@media screen and (max-width:768px) {
    #long {
        min-width: 310px;
    }
}

.l-card {
    background:
        #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
    border-radius: 6px;
    padding: 1rem;
    border-left: 6px solid #7A41D2;
}

.l-card h6 {
    color: black;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    font-family: var(--primary-font)
}

.datas {
    background: whitesmoke;
    border-left: 2px solid red;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px, rgb(209, 213, 219) 0px 0px 0px 1px inset;
}

.datas p {
    color: #000;
    display: inline-block;
    font-family: var(--primary-font);
}

.datas small {
    float: right;
    color: #25CC88;
}

.f-card {
    background: #DE3163;
}

.f-card h6 {
    color: #000;
}

.f-card .card-title i {
    color: white;
    font-size: 3rem;
}

.f-card .card-title h3 {
    color: #000;
    font-size: 2rem;
}

.f-card .card-title p {
    color: rgb(255, 255, 255);
    font-family: var(--primary-font);
}

.f-card hr {
    color: white;
    height: .2rem;
    opacity: 1;
}

.imps {
    border-left: 4px solid #FFBF00;
    padding: .5rem;
}

.imps h4 {
    color: black;
    padding-left: 2rem;
}

.imps p {
    color: white;
    font-family: var(--primary-font);
}

.scrolls {
    height: 150px;
    overflow: auto;
}

.scroll-card {
    background: whitesmoke;
}

/* Loader */
/* Center the loader */
#loader {
    width: 250px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    color: #ce4233;
    letter-spacing: 0.2em;
}

#loader::before,
#loader::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: #ce4233;
    position: absolute;
    -webkit-animation: load 0.7s infinite alternate ease-in-out;
    animation: load 0.7s infinite alternate ease-in-out;
}

#loader::before {
    top: 0;
}

#loader::after {
    bottom: 0;
}

@-webkit-keyframes load {
    0% {
        left: 0;
        height: 30px;
        width: 15px;
    }

    50% {
        height: 8px;
        width: 40px;
    }

    100% {
        left: 235px;
        height: 30px;
        width: 15px;
    }
}

@keyframes load {
    0% {
        left: 0;
        height: 30px;
        width: 15px;
    }

    50% {
        height: 8px;
        width: 40px;
    }

    100% {
        left: 235px;
        height: 30px;
        width: 15px;
    }
}

.transport {
    background: var(--white-color);
    padding: 1rem;
    border-radius: 6px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#transport,
#Roads,
#boda {
    display: none;
}

#acco,
#airs,
#fuels {
    display: none;
}

#diem,
#taxi {
    display: none;
}