{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}

<section>
    <div class="content-wrapper general-bg">
        <div class="row" id="proBanner">
            <div class="col-12">
                <span class="d-flex align-items-center purchase-popup">
                    <img src="../../../static/img/logo/fav.png" width="70px" class="img-fluid" alt="" srcset="">
                    <h2 class="text-dark font-weight-bold" style="margin-left: auto;margin-right:0;"> Dashboard </h2>
                </span>

            </div>
        </div>
        <div class="row g-1">
            <div class="col-md-3 mb-2">
                <div class="card summ-cards">
                    <div class="card-title">
                        Human Resource Summary
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="c-content c1">
                                    <h6>Leave Requests</h6>
                                    <small>{{leave_open}}</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="c-content">
                                    <h6>Training Requests</h6>
                                    <small>{{open_train}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 mb-2">
                <div class="card summ-cards3">
                    <div class="card-title">
                        Finance Summary
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="c-content c1">
                                    <h6>Imprest Requisition</h6>
                                    <small>{{imprest_open}}</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="c-content c2">
                                    <h6>Imprest Surrender</h6>
                                    <small>{{surrender_open}}</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="c-content">
                                    <h6>Staff Claim</h6>
                                    <small>{{open_claim}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card summ-cards3">
                    <div class="card-title">
                        Procurement Summary
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="c-content c1">
                                    <h6>Purchase Requests</h6>
                                    <small>{{open_purchase}}</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="c-content c2">
                                    <h6>Repair Request</h6>
                                    <small>{{open_repair}}</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="c-content">
                                    <h6>Store Requests</h6>
                                    <small>{{open_store}}</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-md-6 mb-2">
                <div class="card p-3 h-100" style="background: #d9e3f0;">
                    <div class="card-title text-dark">
                        <h6>Approved Requests</h6>
                    </div>
                    <div class="card-body">
                        <canvas id="myChart"></canvas>
                    </div>
                    <script>
                        const labels = [
                            'Leave',
                            'Training',
                            'Imprest Requisition',
                            'Imprest Surrender',
                            'Staff Claim',
                            'Purchase Requests',
                            'Repair Requests',
                            'Store Requests',
                        ];
                        var Approved_Leave = '{{leave_app}}'
                        var App_Train = '{{app_train}}'
                        var APP_Imprest = '{{imprest_app}}'
                        var App_Claim = '{{app_claim}}'
                        var App_surrender = '{{surrender_app}}'
                        var APP_Purchase = '{{app_purchase}}'
                        var APP_Repair = '{{app_repair}}'
                        var App_Store = '{{app_store}}'
                        const data = {
                            labels: labels,
                            datasets: [{
                                label: 'All Approved Requests',
                                backgroundColor: 'rgb(255, 99, 132)',
                                borderColor: 'rgb(255, 99, 132)',
                                data: [Approved_Leave, App_Train, APP_Imprest, App_surrender, App_Claim,
                                    APP_Purchase,
                                    APP_Repair,
                                    App_Store
                                ],
                            }]
                        };

                        const config = {
                            type: 'line',
                            data: data,
                            options: {}
                        };
                    </script>
                    <script>
                        const myChart = new Chart(
                            document.getElementById('myChart'),
                            config
                        );
                    </script>
                </div>
            </div>
            <div class="col-md-6 mb-2">
                <div class="card p-3 h-100" style="background: #CCCCFF;">
                    <div class="card-title text-dark">
                        <h6>Rejected Requests</h6>
                    </div>
                    <div class="card-body">
                        <canvas id="Chart2"></canvas>
                    </div>
                    <script>
                        const newlabel = [
                            'Leave',
                            'Training',
                            'Imprest Requisition',
                            'Imprest Surrender',
                            'Staff Claim',
                            'Purchase ',
                            'Repair Requests',
                            'Store Requests',
                        ];

                        var Rejected_Leave = '{{leave_rej}}'
                        var Rej_Train = '{{rej_train}}'
                        var Rej_Imprest = '{{imprest_rej}}'
                        var Rej_Claim = '{{rej_claim}}'
                        var Rej_surrender = '{{surrender_rej}}'
                        var Rej_Purchase = '{{rej_purchase}}'
                        var Rej_Repair = '{{rej_repair}}'
                        var Rej_Store = '{{rej_store}}'
                        const data2 = {
                            labels: newlabel,
                            datasets: [{
                                label: 'All Rejected Requests',
                                backgroundColor: [
                                    '#ff5e6c',
                                    '#DFFF00',
                                    '#8076a3',
                                    '#FFBF00',
                                    '#9FE2BF',
                                ],
                                borderColor: 'rgb(255, 99, 132)',
                                data: [Rejected_Leave, Rej_Train, Rej_Imprest, Rej_surrender, Rej_Claim,
                                    Rej_Purchase,
                                    Rej_Repair,
                                    Rej_Store
                                ],
                            }]
                        };

                        const configs = {
                            type: 'bar',
                            data: data2,
                            options: {}
                        };
                    </script>
                    <script>
                        const Chart2 = new Chart(
                            document.getElementById('Chart2'),
                            configs
                        );
                    </script>
                </div>
            </div>
        </div>
        <div class="row pb-3">
            <div class="col-md-12">
                <div class="row my-2 ">
                    <div class="col-md-12">
                        <div class="card h-100 px-2" id="d-card">
                            <div class="m-4">
                                <ul class="nav nav-tabs" id="myTab">
                                    <li class="nav-item">
                                        <a href="#profile" class="nav-link text-dark" data-bs-toggle="tab">Documents
                                            Pending
                                            Your
                                            Approval
                                            ({{countsAPP}})</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane show active fade" id="profile">
                                        <div class="card-body">
                                            <table id="example"
                                                class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                                style="width:100%">
                                                <thead>
                                                    <tr id="tops">
                                                        <th>Document Type</th>
                                                        <th>Sender</th>
                                                        <th>Action</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for res in apps %}
                                                    <tr>
                                                        <td id="rap">{{res.Document_Type}}</td>
                                                        <td>{{res.Sender_ID}}</td>
                                                        <td>
                                                            <a href="{% url 'ApproveData' res.Document_No_ %}"
                                                                class="btn btn-success link-btn" type="button"
                                                                data-toggle="tooltip" data-placement="top"
                                                                title="View"><i class="fa fa-table"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <!-- <div class="tab-pane fade" id="channel">
                                        <h4 class="mt-2 text-dark">Try</h4>
                                        <div class="card-body">
                                            <div id="messages"></div>
                                            <form id="form">
                                                <div class="mb-3">
                                                    <label for="exampleInputEmail1" class="form-label">Email
                                                        address</label>
                                                    <input type="text" class="form-control" id="message" name="message">
                                                    <div id="emailHelp" class="form-text">We'll never share your email
                                                        with anyone else.</div>
                                                </div>

                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </form>
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    let url = `ws://${window.location.host}/ws/socket-server/`
    const chatSocket = new WebSocket(url)

    chatSocket.onmessage = function (e) {
        let data = JSON.parse(e.data)
        console.log('Data:', data)

        if (data.type === 'chat') {
            let message = document.getElementById('messages')

            message.insertAdjacentHTML('beforeend', `<div>
                <p>${data.message}</p></div>`)
        }
    }

    let form = document.getElementById('form')

    form.addEventListener('submit', (e) => {
        e.preventDefault()
        let message = e.target.message.value;

        chatSocket.send(JSON.stringify({
            'message': message
        }))
        form.reset()
    })
</script>

{% endblock %}