{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<section>
    <div class="content-wrapper">
        <div class="row" id="proBanner">
            <div class="col-12">
                <span class="d-flex align-items-center purchase-popup">
                    <img src="../../../static/img/logo/fav.png" width="70px" class="img-fluid" alt="" srcset="">
                </span>
            </div>
        </div>
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> Overview dashboard </h2>
            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">
                    <button class="btn bg-white dropdown-toggle p-3 d-flex align-items-center" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="mdi mdi-calendar mr-1"></i>{{today}}
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card h-100 summ-cards">
                    <div class="card-title">
                        Human Resource Summary
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="c-content c1">
                                    <h6>Leave Requests</h6>
                                    <small>3</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="c-content c2">
                                    <h6>Training Requests</h6>
                                    <small>3</small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="c-content">
                                    <h6>Loan Requests</h6>
                                    <small>3</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 summ-cards2">
                    <div class="card-title">
                        Procurement Summary
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="c-content c1">
                                    <h6>Store Requests</h6>
                                    <small>3</small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="c-content">
                                    <h6>Purchase Requests</h6>
                                    <small>3</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card h-100 summ-cards3">
                    <div class="card-title">
                        Approvals Summary
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="c-content">
                                    <h6>Requests To Approve</h6>
                                    <small>3</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-4">
            <div class="col-md-6">
                <div class="card p-3 h-100" style="background: #FFBF00;">
                    <div class="card-title text-dark">
                        <h6>Approved Requests</h6>
                    </div>
                    <div class="card-body">
                        <canvas id="myChart"></canvas>
                    </div>
                    <script>
                        const labels = [
                            'Leave',
                            'Training',
                            'Loan',
                            'Store',
                            'Purchase',
                            'Repair',
                        ];

                        const data = {
                            labels: labels,
                            datasets: [{
                                label: 'All Approved Requests',
                                backgroundColor: 'rgb(255, 99, 132)',
                                borderColor: 'rgb(255, 99, 132)',
                                data: [0, 10, 5, 2, 20, 30, 45],
                            }]
                        };

                        const config = {
                            type: 'line',
                            data: data,
                            options: {}
                        };
                    </script>
                    <script>
                        const myChart = new Chart(
                            document.getElementById('myChart'),
                            config
                        );
                    </script>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card p-3 h-100" style="background: #CCCCFF;">
                    <div class="card-title text-dark">
                        <h6>Rejected Requests</h6>
                    </div>
                    <div class="card-body">
                        <canvas id="Chart2"></canvas>
                    </div>
                    <script>
                        const newlabel = [
                            'Leave',
                            'Training',
                            'Loan',
                            'Store',
                            'Purchase',
                            'Repair',
                        ];

                        const data2 = {
                            labels: newlabel,
                            datasets: [{
                                label: 'All Rejected Requests',
                                backgroundColor: [
                                    '#ff5e6c',
                                    '#DFFF00',
                                    '#8076a3',
                                    '#FFBF00',
                                    '#9FE2BF',
                                    '#40E0D0',
                                ],
                                borderColor: 'rgb(255, 99, 132)',
                                data: [6, 10, 5, 2, 20, 8, 5],
                            }]
                        };

                        const configs = {
                            type: 'bar',
                            data: data2,
                            options: {}
                        };
                    </script>
                    <script>
                        const Chart2 = new Chart(
                            document.getElementById('Chart2'),
                            configs
                        );
                    </script>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md-4">
                <div class="card f-card h-100 p-3">
                    <h6>Finance</h6>
                    <div class="card-title mx-auto text-center pt-2">
                        <div class="row">
                            <div class="col-md-12">
                                <i class="las la-coins"></i>
                                <h3>Kshs 5000</h3>
                                <p>Unpaid Loans</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card f-card h-100 p-3">
                    <h6>Finance</h6>
                    <div class="card-title mx-auto text-center pt-2">
                        <div class="row">
                            <div class="col-md-12">
                                <i class="las la-coins"></i>
                                <h3>Kshs 5000</h3>
                                <p>Unpaid Loans</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card f-card h-100 p-3">
                    <h6>Finance</h6>
                    <div class="card-title mx-auto text-center pt-2">
                        <div class="row">
                            <div class="col-md-12">
                                <i class="las la-coins"></i>
                                <h3>Kshs 5000</h3>
                                <p>Unpaid Loans</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-2">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="card-title">
                        <h6>
                            New Imprest Requisitions
                        </h6>
                    </div>
                    <div class="card-body">
                        <table id="example" class="table table-striped table-bordered dt-responsive table-responsive-lg"
                            style="width:100%">
                            <thead>
                                <tr id="tops">
                                    <th id="long">Imprest No</th>
                                    <th>Date</th>
                                    <th>Staff No</th>
                                    <th>Imprest Payee</th>
                                    <th>User Remarks</th>
                                    <th>Created By</th>
                                    <th>Status</th>
                                    <th>Currency</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in res %}
                                <tr>
                                    <td>{{res.No}}</td>
                                    <td id="rap">{{res.Title}}</td>
                                    <td>{{res.TenderOpeningDate}}</td>
                                    <td>{{res.TenderClosingDate}}</td>
                                    <td>{{res.TenderOpeningDate}}</td>
                                    <td>{{res.TenderClosingDate}}</td>
                                    <td>{{res.Type}}</td>
                                    <td>
                                        <a type="button" href="{% url 'Odetails' res.No %}"
                                            class="btn btn-success btn-icon-text" style="background: #25CC88;">View
                                            <i class="las la-external-link-alt" style="font-size: 1rem"></i>
                                        </a>
                                    </td>
                                    <td>
                                        <a type="button" href="{% url 'Odetails' res.No %}"
                                            class="btn btn-success btn-icon-text" style="background: #25CC88;">View
                                            <i class="las la-external-link-alt" style="font-size: 1rem"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}