<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KMPDC</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- icons -->
    <!-- line -->
    <link rel="stylesheet"
        href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <!-- end -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../../static/css/auth.css">
    <link rel="stylesheet" href="../../static/css/base.css">
    <link rel="shortcut icon" type="image/png" href="../../static/img/logo/fav.png" />
</head>

<body>
    <section class="n-login">
        <div class="container-fluid px-0">
            <div class="row">
                <div id='n-left' class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="n-icon mx-auto text-center">
                                <p>
                                    <i class="fas fa-align-left" style="color:white;font-size:25px"></i>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mx-auto text-center">
                            <div class="brand">
                                <h2 class="n-brand">EMPLOYEE SELF SERVICE PORTAL</br> <span
                                        class="br-brand">KMPDC</span></h2>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="l-text mx-auto text-center">

                                <p>
                                    To regulate the training, practice and licensing of medicine & dentistry and
                                    healthcare
                                    institutions that include private & mission hospitals, medical, dental centers &
                                    clinics, nursing and maternity homes and standalone funeral homes.
                                </p>

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="l-image mx-auto text-center">
                                <img src='../../static/img/logo/gok_logo.png' class="img-fluid" alt="brand image"
                                    srcset="">
                            </div>

                        </div>
                    </div>
                </div>
                <div id="n-right1" class="col-md-6">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="logo mx-auto text-center">
                                <img src="../../static/img/logo/fav.png" alt="" srcset="">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-text">
                                <div class="pr-3" style="margin-right: 2rem !important;">
                                    {% include 'alerts.html' %}
                                </div>
                                <h3>Sign In</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="l-form">
                                <div class="login-form">
                                    <form action="{% url 'auth' %}" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="form-label">Username</label>
                                            <input type="text" class="form-control" name="username"
                                                placeholder="Enter Username" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label class="form-label">Password</label>
                                            <input type="password" class="form-control" name="password"
                                                placeholder="Enter Password" required="required">
                                        </div>
                                        <div class="form-group">
                                            <button type="submit" class="btn btn-primary"
                                                style="text-decoration:none;color:white;text-shadow: 0 1px 0 #134326;">Login</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">
    </script>
</body>

</html>