{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<section class="dash2">
    <div class="content-wrapper general-bg" style="padding-bottom: 5rem;">
        <div class="row" id="proBanner">
            <div class="col-12">
                <span class="d-flex align-items-center purchase-popup">
                    <img src="../../../static/img/logo/fav.png" width="70px" class="img-fluid" alt="" srcset="">
                    <h2 class="text-dark font-weight-bold ml-3"> Imprest Requisition </h2>
                    <button class="btn btn-successs align-items-center p-3" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"
                        style="margin-left: auto;margin-right:0;outline: none;border: none;"><i
                            class="las la-plus text-white" style="font-size:15px;"></i> New Imprest Requisition</button>
                </span>

            </div>
        </div>
        <!--alert -->
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success d-flex align-items-center alert-dismissible alert-success" role="alert">
            <i class="las la-check-double" style="color: white;font-size: 2rem"></i>
            <div class="a-icon mx-2">
                {{message}}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger d-flex align-items-center alert-dismissible alert-warn" role="alert">
            <i class="las la-exclamation-triangle" style="color: white;font-size: 2rem"></i>
            <div class="a-icon mx-2">
                {{message}}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="row my-2">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="m-4">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="nav-item">
                                <a href="#home" class="nav-link active" data-bs-toggle="tab">Open
                                    ({{count}})</a>
                            </li>
                            <li class="nav-item">
                                <a href="#pending" class="nav-link" data-bs-toggle="tab">Pending Approval
                                    ({{pend}})</a>
                            </li>
                            <li class="nav-item">
                                <a href="#profile" class="nav-link" data-bs-toggle="tab">Approved
                                    ({{counter}})</a>
                            </li>
                            <li class="nav-item">
                                <a href="#reject" class="nav-link" data-bs-toggle="tab">Rejected
                                    ({{rej}})</a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="home">
                                <h4 class="mt-2 text-dark">Open Imprest Requisitions</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Imprest No</th>
                                                <th>Date Created</th>
                                                <th>Imprest</th>
                                                <th>Travel Type</th>
                                                <th>Department Code</th>
                                                <th>Branch</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in res %}
                                            <tr>
                                                <td>{{res.No_}}</td>
                                                <td id="rap">{{res.Date}}</td>
                                                <td>{{res.Imprest}}</td>
                                                <td>{{res.Travel_Type}}</td>
                                                <td>{{res.Shortcut_Dimension_2_Code}}</td>
                                                <td>{{res.Shortcut_Dimension_1_Code}}</td>
                                                <td>
                                                    <button class="btn btn-primary" data-bs-toggle="modal"
                                                        data-bs-target="#trainedit{{res.No_}}" data-toggle="tooltip"
                                                        data-placement="top" title="edit">Edit <i
                                                            class="fas fa-edit"></i>
                                                    </button>
                                                    <div class="modal fade" id="trainedit{{res.No_}}"
                                                        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div
                                                            class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="staticBackdropLabel">
                                                                        Edit
                                                                        Impres No : {{res.No_}}
                                                                    </h5>
                                                                    <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="myForm needs-validation"
                                                                        action="{% url 'create' %}" method="post"
                                                                        novalidate>
                                                                        {% csrf_token %}
                                                                        <div class="mb-2 myForm">
                                                                            <div class="row">
                                                                                <div class="col-md-6">
                                                                                    <label
                                                                                        class="form-label">Imprest</label>
                                                                                    <select class="form-select"
                                                                                        name="isImprest" required>
                                                                                        <option selected disabled
                                                                                            value="">
                                                                                            Select Option
                                                                                        </option>
                                                                                        <option value="True">yes
                                                                                        </option>
                                                                                        <option value="False">No
                                                                                        </option>
                                                                                    </select>
                                                                                    <div class="invalid-feedback">
                                                                                        Please select a valid
                                                                                        option.
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <label
                                                                                        class="form-label">DSA</label>
                                                                                    <select class="form-select"
                                                                                        name="isDsa" required>
                                                                                        <option selected disabled
                                                                                            value="">Select Option
                                                                                        </option>
                                                                                        <option value="True">Yes
                                                                                        </option>
                                                                                        <option value="False">No
                                                                                        </option>
                                                                                    </select>

                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <label class="form-label">Travel
                                                                                        Type <span
                                                                                            class="text-danger">*</span></label>
                                                                                    <select class="form-select"
                                                                                        name="travelType" required>
                                                                                        <option selected disabled
                                                                                            value="">Select Option
                                                                                        </option>
                                                                                        <option value="1">Local</option>
                                                                                        <option value="2">Foreign
                                                                                        </option>
                                                                                    </select>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <input type="hidden" name="myAction"
                                                                                        value="modify">
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <input type="hidden"
                                                                                        name="imprestNo"
                                                                                        value="{{res.No_}}">
                                                                                </div>
                                                                            </div>
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <label for="purpose"
                                                                                        class="form-label">Purpose</label>
                                                                                    <textarea class="form-control"
                                                                                        name="purpose" rows="3"
                                                                                        required></textarea>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-danger"
                                                                                data-bs-dismiss="modal">Discard</button>
                                                                            <button type="submit" id="sasa"
                                                                                class="btn btn-primary">Submit</button>
                                                                        </div>
                                                                </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <a href="{% url 'IMPDetails' res.No_%}"
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View"> View <i class="far fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>

                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pending">
                                <h4 class="mt-2">Pending Approval Imprest Requisitions</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Imprest No</th>
                                                <th>Date Created</th>
                                                <th>Imprest</th>
                                                <th>Travel Type</th>
                                                <th>Department Code</th>
                                                <th>Branch</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in pending %}
                                            <tr>
                                                <td>{{res.No_}}</td>
                                                <td id="rap">{{res.Date}}</td>
                                                <td>{{res.Imprest}}</td>
                                                <td>{{res.Travel_Type}}</td>
                                                <td>{{res.Shortcut_Dimension_2_Code}}</td>
                                                <td>{{res.Shortcut_Dimension_1_Code}}</td>
                                                <td>
                                                    <a href="{% url 'IMPDetails' res.No_%}"
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View"> View <i class="far fa-eye"></i></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile">
                                <h4 class="mt-2">Approved Imprest Requisitions</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Imprest No</th>
                                                <th>Date Created</th>
                                                <th>Imprest</th>
                                                <th>Travel Type</th>
                                                <th>Department Code</th>
                                                <th>Branch</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in response %}
                                            <tr>
                                                <td>{{res.No_}}</td>
                                                <td id="rap">{{res.Date}}</td>
                                                <td>{{res.Imprest}}</td>
                                                <td>{{res.Travel_Type}}</td>
                                                <td>{{res.Shortcut_Dimension_2_Code}}</td>
                                                <td>{{res.Shortcut_Dimension_1_Code}}</td>
                                                <td>
                                                    <a href="{% url 'IMPDetails' res.No_%}"
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View"> View <i class="far fa-eye"></i></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="reject">
                                <h4 class="mt-2">Rejected Imprest Requisitions</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Imprest No</th>
                                                <th>Date Created</th>
                                                <th>Imprest</th>
                                                <th>Travel Type</th>
                                                <th>Department Code</th>
                                                <th>Branch</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in reject %}
                                            <tr>
                                                <td>{{res.No_}}</td>
                                                <td id="rap">{{res.Date}}</td>
                                                <td>{{res.Imprest}}</td>
                                                <td>{{res.Travel_Type}}</td>
                                                <td>{{res.Shortcut_Dimension_2_Code}}</td>
                                                <td>{{res.Shortcut_Dimension_1_Code}}</td>
                                                <td>
                                                    <a href="{% url 'IMPDetails' res.No_%}"
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View"> View <i class="far fa-eye"></i></a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">New Imprest Requisition
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm needs-validation" action="{% url 'create' %}" method="post" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" name="imprestNo" value="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label class="form-label">Imprest <span class="text-danger">*</span></label>
                                <select class="form-select" name="isImprest" required>
                                    <option selected disabled value="">Select Option</option>
                                    <option value="True">Yes</option>
                                    <option value="False">No</option>
                                </select>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">DSA <span class="text-danger">*</span></label>
                                <select class="form-select" name="isDsa" required>
                                    <option selected disabled value="">Select Option</option>
                                    <option value="True">Yes</option>
                                    <option value="False">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label">Travel Type <span class="text-danger">*</span></label>
                                <select class="form-select" name="travelType" required>
                                    <option selected disabled value="">Select Option</option>
                                    <option value="1">Local</option>
                                    <option value="2">Foreign</option>
                                </select>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" name="myAction" value="insert">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="purpose" class="form-label">Purpose <span
                                        class="text-danger">*</span></label>
                                <textarea class="form-control" name="purpose" rows="3" required></textarea>

                            </div>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Discard</button>
                    <button type="submit" id="sasa" class="btn btn-primary">Submit</button>
                </div>
            </div>
            </form>
        </div>
    </div>
    </div>
</section>

{% endblock %}