{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<section class="dash2">
    <div class="content-wrapper">
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> Imprest Requisition
                {% if state == 1 %}
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Attachment"> <i
                        class="las la-plus"></i> Upload Attachment</button>
                {% endif %}
            </h2>

            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">
                    {% if state == 1 %}
                    <button class="btn btn-successs p-3 d-flex align-items-center" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop" type="button"> <i class="las la-plus text-white"
                            style="font-size:15px;"></i> Add Imprest
                        Lines
                    </button>
                    {% elif state == 3 %}
                    <form action="{% url 'FnGenerateImprestReport' res.No_%}" method="post"
                        style="display:inline-block">
                        {% csrf_token %}
                        <button class="btn btn-successs" type="submit"> Preview
                            Report</button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--alert -->
        {% include 'alerts.html' %}
        <div class="row my-3">
            <div class="col-md-3">
                <div class="card l-bg-cherry statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Account Type</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Account_Type}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-blue-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-file"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Imprest Status</h5>
                        </div>
                        {% if res.Status == "Open" %}
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Status}}
                                </h2>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-red" role="progressbar" data-width="50%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width: 50%; background: linear-gradient(to right, #a86008, #c18b39) !important;">
                            </div>
                        </div>
                        {% elif res.Status == "Pending Approval" %}
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Status}}
                                </h2>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-yellow" role="progressbar" data-width="25%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width: 75%; background: linear-gradient(to right, #a86008, #c18b39) !important;">
                            </div>
                        </div>
                        {% elif res.Status == "Released" %}
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    Approved
                                </h2>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-green" role="progressbar" data-width="75%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width: 100%; background: linear-gradient(to right, #a86008, #c18b39) !important;">
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-green-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Imprest Amount</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Imprest_Amount}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-orange-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-calendar-times"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Due Date</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Due_Date}}
                                </h2>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form class="row g-3">
                    <div class="col-md-4">
                        <label class="form-label">Imprest Number</label>
                        <input type="text" class="form-control" placeholder="{{res.No_}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Date Inserted</label>
                        <input type="text" class="form-control" placeholder="{{res.Date}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Account No</label>
                        <input type="text" class="form-control" placeholder="{{res.Account_No_}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Status</label>
                        <input type="text" class="form-control" placeholder="{{res.Status}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Travel Type</label>
                        <input type="text" class="form-control" placeholder="{{res.Travel_Type}}" readonly>
                    </div>

                    <div class="col-md-4">
                        <label class="form-label">Account Type</label>
                        <input type="text" class="form-control" placeholder="{{res.Account_Type}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Imprest Amount</label>
                        <input type="text" class="form-control" placeholder="{{res.Imprest_Amount}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Imprest</label>
                        <input type="text" class="form-control" placeholder="{{res.Imprest}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">DSA</label>
                        <input type="text" class="form-control" placeholder="{{res.DSA}}" readonly>
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">purpose</label>
                        <textarea class="form-control" placeholder="{{res.Payment_Narration}}" rows="3"
                            readonly></textarea>
                    </div>
                </form>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <h4 class="mt-2 mx-2 text-dark">Imprest Requisitions Lines</h4>
                    <div class="card-body">
                        <table id="example"
                            class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                            style="width:100%">
                            <thead>
                                <tr id="tops">
                                    <th id="long">Destination</th>
                                    <th>Travel Date</th>
                                    <th>Return Date</th>
                                    <th>No of Days</th>
                                    <th>Daily Rate</th>
                                    <th>Quantity</th>
                                    <th>Amount</th>
                                    {% if state == 1 %}
                                    <th>Action</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in line %}
                                <tr>
                                    <td>{{res.Destination}}</td>
                                    <td>{{res.Date_of_Project}}</td>
                                    <td>{{res.Date_of_Completion}}</td>
                                    <td>{{res.No_of_Days}}</td>
                                    <td>{{res.Daily_Rate}}</td>
                                    <td>{{res.Quantity}}</td>
                                    <td>{{res.Amount}}</td>
                                    {% if state == 1 %}
                                    <td>

                                        <form action="{% url 'FnDeleteImprestLine' res.AuxiliaryIndex1 %}" method="post"
                                            style="display: inline-block;">
                                            {% csrf_token %}
                                            <input type="hidden" name="lineNo" value="{{res.Line_No}}">
                                            <button type="submit" class="btn btn-danger" data-toggle="tooltip"
                                                data-placement="top" title="Delete"><i class="fas fa-trash-alt"></i>
                                            </button>
                                        </form>
                                    </td>
                                    {% endif %}
                                </tr>

                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% if state == 1 %}
                <div class="myForm my-3">
                    <form action="{% url 'Impres' res.No_ %}" method="POST" style="display: inline-block;">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="hidden" hidden name="requisitionNo" value="{{res.No_}}">
                        </div>
                        <button class="btn btn-info" type="submit">Request For Approval</button>
                    </form>
                </div>
                {% elif state == 2 %}
                <div class="d-grid gap-2 my-3">
                    <form action="{% url 'ImpresCancel' res.No_ %}" method="POST" class="myForm" id="approvalForm">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="hidden" hidden name="requisitionNo" value="{{res.No_}}">
                        </div>
                        <button class="btn btn-info" type="submit">Cancel Request For Approval</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
        {% if state == 2 %}
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <h4 class="mt-2 mx-2 text-dark">Document Approvers</h4>
                    <div class="card-body">
                        <table id="example"
                            class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                            style="width:100%">
                            <thead>
                                <tr id="tops">
                                    <th id="long">Entry No</th>
                                    <th>Name</th>
                                    <th>Sequence</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in Approvers %}
                                <tr>
                                    <td>{{res.Entry_No_}}</td>
                                    <td>{{res.Approver_ID}}</td>
                                    <td>{{res.Sequence_No_}}</td>
                                    <td>{{res.Status}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">New Imprest Line
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm needs-validation" id="frm_" action="{% url 'CreateImpLines' res.No_%}"
                        method="post" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" name="lineNo" value="0">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" name="myAction" value="insert">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label">Destination <span class="text-danger">*</span></label>

                                <select class="form-select" name="destination" required>
                                    <option selected disabled value="">Select Destination</option>
                                    {% if dest == 'Local' %}
                                    {% for res in Local %}
                                    <option value="{{res.Destination_Code}}">
                                        {{res.Destination_Code}}</option>
                                    {% endfor %}
                                    {% elif dest == 'Foreign' %}
                                    {% for res in Foreign %}
                                    <option value="{{res.Destination_Code}}">
                                        {{res.Destination_Code}}</option>
                                    {% endfor %}
                                    {% endif %}
                                </select>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="" class="form-label">Imprest Type <span class="text-danger">*</span></label>
                                <select class="form-select" name="imprestType" required>
                                    <option selected disabled value="">Select Imprest Type</option>
                                    <option value="1">Imprest</option>
                                    <option value="2">DSA</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="" class="form-label">Travel Date <span class="text-danger">*</span></label>
                                <input type="date" class="form-control" name="travel" required>
                            </div>
                            <div class="col-md-6">
                                <label for="" class="form-label">Return Date <span class="text-danger">*</span></label>
                                <input type="date" id="to" class="form-control" name="returnDate" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="" class="form-label">Requisition Type <span
                                        class="text-danger">*</span></label>
                                <select name="requisitionType" class="form-select" onchange="getRep()" required>
                                    <option value='' selected='selected'>Select</option>
                                    {% for res in type %}
                                    <option value='{{res.Code}}' ren='{{res.Based_On_a_Table}}'>{{res.Description}}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row" id="tableAmountRow" style="display: none">
                            <div class="col-md-12">
                                <label class="form-label">Amount</label>
                                <input type="number" class="form-control" id="tableAmount" disabled name="amount">
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Discard</button>
                    <button type="submit" id="sasa" class="btn btn-primary">Submit</button>
                </div>
            </div>

            </form>
        </div>
    </div>
    </div>
</section>
<!-- Modal -->
<div class="modal fade" id="Attachment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Attachment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'UploadAttachment' res.No_ %}" method="post" class="myForm"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class=" mb-3">
                        <label class="form-label">Attachments </label>
                        <input class="form-control" name="attachment" type="file" multiple>
                    </div>

            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </form>
        </div>
    </div>
</div>
<!-- End Report -->
<script>
    function getRep() {
        var ren = document.forms['frm_'].elements['requisitionType'].options[document.forms['frm_'].elements[
                'requisitionType'].selectedIndex]
            .getAttribute('ren');

        if (ren === 'False') {
            $('#tableAmountRow').show(1000)
            document.getElementById('tableAmount').disabled = false;
        } else if (ren === 'True') {
            document.getElementById('tableAmount').disabled = true;
            $('#tableAmountRow').hide(1000)
        }
    }
</script>

{% endblock %}