{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<section class="dash2">
    <div class="content-wrapper" style="padding-bottom: 5rem;">
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> Imprest Requisition
                {% if state == 1 %}
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> <i
                        class="las la-plus"></i> New Imprest
                    Lines</button>
                {% else %}
                <button class="btn btn-info"> <i class="las la-plus"></i> {{res.Status}}</button>
                {% endif %}
            </h2>

            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">
                    <button class="btn bg-white dropdown-toggle p-3 d-flex align-items-center" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                            class="mdi mdi-calendar mr-1"></i>{{today}}
                    </button>
                </div>
            </div>
        </div>
        <!--alert -->
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success d-flex align-items-center alert-dismissible alert-success" role="alert">
            <i class="las la-check-double" style="color: white;font-size: 2rem"></i>
            <div class="a-icon mx-2">
                {{message}}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger d-flex align-items-center alert-dismissible alert-warn" role="alert">
            <i class="las la-exclamation-triangle" style="color: white;font-size: 2rem"></i>
            <div class="a-icon mx-2">
                {{message}}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <form class="row g-3">
                    <div class="col-md-4">
                        <label class="form-label">Imprest Number</label>
                        <input type="text" class="form-control" placeholder="{{res.No_}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Apply on behalf</label>
                        <input type="text" class="form-control" placeholder="{{res.Apply_on_behalf}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Account No</label>
                        <input type="text" class="form-control" placeholder="{{res.Account_No_}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Status</label>
                        <input type="text" class="form-control" placeholder="{{res.Status}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Travel Type</label>
                        <input type="text" class="form-control" placeholder="{{res.Travel_Type}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Payee</label>
                        <input type="text" class="form-control" placeholder="{{res.Payee}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">User</label>
                        <input type="text" class="form-control" placeholder="{{res.User_Id}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">ID/ Passport</label>
                        <input type="text" class="form-control" placeholder="{{res.ID_Passport}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Imprest</label>
                        <input type="text" class="form-control" placeholder="{{res.Imprest}}" readonly>
                    </div>
                    <div class="col-12">
                        <label for="inputAddress" class="form-label">purpose</label>
                        <textarea class="form-control" placeholder="{{res.Payment_Narration}}" rows="3"
                            readonly></textarea>
                    </div>
                </form>
                {% if state == 1 %}
                <div class="d-grid gap-2 my-3">
                    <form action="{% url 'Impres' res.No_ %}" method="POST" class="myForm">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="hidden" hidden name="requisitionNo" value="{{res.No_}}">
                        </div>
                        <button class="btn btn-info" type="submit">Request For Approval</button>
                    </form>
                </div>
                {% elif state == 2 %}
                <div class="d-grid gap-2 my-3">
                    <form action="{% url 'ImpresCancel' res.No_ %}" method="POST" class="myForm" id="approvalForm">
                        {% csrf_token %}
                        <div class="mb-3">
                            <input type="hidden" hidden name="requisitionNo" value="{{res.No_}}">
                        </div>
                        <button class="btn btn-info" type="submit">Cancel Request For Approval</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <h4 class="mt-2 mx-2 text-dark">Imprest Requisitions Lines</h4>
                    <div class="card-body">
                        <table id="example"
                            class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                            style="width:100%">
                            <thead>
                                <tr id="tops">
                                    <th id="long">Destination</th>
                                    <th>Travel Date</th>
                                    <th>Return Date</th>
                                    <th>Imprest Type</th>
                                    <th>No of Days</th>
                                    <th>Daily Rate</th>
                                    <th>Quantity</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in line %}
                                <tr>
                                    <td>{{res.Destination}}</td>
                                    <td>{{res.Date_of_Project}}</td>
                                    <td>{{res.Date_of_Completion}}</td>
                                    <td>{{res.Imprest_Type}}</td>
                                    <td>{{res.No_of_Days}}</td>
                                    <td>{{res.Daily_Rate}}</td>
                                    <td>{{res.Quantity}}</td>
                                    <td>{{res.Amount}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% if state == 2 %}
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <h4 class="mt-2 mx-2 text-dark">Document Approvers</h4>
                    <div class="card-body">
                        <table id="example"
                            class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                            style="width:100%">
                            <thead>
                                <tr id="tops">
                                    <th id="long">Entry No</th>
                                    <th>Name</th>
                                    <th>Sequence</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in Approvers %}
                                <tr>
                                    <td>{{res.Entry_No_}}</td>
                                    <td>{{res.Approver_ID}}</td>
                                    <td>{{res.Sequence_No_}}</td>
                                    <td>{{res.Status}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">New Imprest Line
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm needs-validation" action="{% url 'CreateImpLines' res.No_%}" method="post"
                        novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label">Destination</label>
                                <select class="form-select" name="destination" required>
                                    <option selected disabled value="">Select Destination</option>
                                    {% for res in des %}
                                    <option value="{{res.Destination_Code}}">{{res.Destination_Code}}</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">
                                    Please Select Valid Destination.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="" class="form-label">Imprest Type:</label>
                                <select class="form-select" name="imprestType" required>
                                    <option selected disabled value="">Select Imprest Type</option>
                                    <option value="1">Imprest</option>
                                    <option value="2">DSA</option>
                                    <option value="3">Allowance</option>
                                </select>
                                <div class="invalid-feedback">
                                    Please Select Valid Imprest Type.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <label for="" class="form-label">Travel Date:</label>
                                <input type="date" class="form-control" name="travel" required>
                                <div class="invalid-feedback">
                                    Please Select Valid Travel Date.
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label for="" class="form-label">Return Date:</label>
                                <input type="date" id="to" class="form-control" name="returnDate" required>
                                <div class="invalid-feedback">
                                    Please Select Valid Return Date.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="" class="form-label">Requisition Type:</label>
                                <select class="form-select" name="requisitionType" required>
                                    <option selected disabled value="">Select Requisition Type</option>
                                    {% for res in type %}
                                    <option value="{{res.Code}}">{{res.Description}}</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">
                                    Please Select Valid Requisition Type.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label">Quantity</label>
                                <input type="number" class="form-control" name="quantity" required>
                                <div class="invalid-feedback">
                                    Quantity can't be empty.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="" class="form-label">Area:</label>
                                <select class="form-select" name="areaCode" required>
                                    <option selected disabled value="">Select Area</option>
                                    {% for res in area %}
                                    <option value="{{res.Code}}">{{res.Name}}</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">
                                    Please Select a Valid Area.
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <label for="" class="form-label">Business Group :</label>
                                <select class="form-select" name="businessGroupCode" required>
                                    <option selected disabled value="">Select Business Group</option>
                                    {% for res in biz %}
                                    <option value="{{res.Code}}">{{res.Name}}</option>
                                    {% endfor %}
                                </select>
                                <div class="invalid-feedback">
                                    Please Select a Valid Business Group.
                                </div>
                            </div>
                        </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Discard</button>
                    <button type="submit" id="sasa" class="btn btn-primary">Submit</button>
                </div>
            </div>

            </form>
        </div>
    </div>
    </div>
</section>

{% endblock %}