{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<section class="dash2">
    <div class="content-wrapper general-bg" style="padding-bottom: 5rem;">
        <div class="row" id="proBanner">
            <div class="col-12">
                <span class="d-flex align-items-center purchase-popup">
                    <img src="../../../static/img/logo/fav.png" width="70px" class="img-fluid" alt="" srcset="">
                    <h2 class="text-dark font-weight-bold ml-3"> Imprest Surrender </h2>
                    <button class="btn btn-successs align-items-center p-3" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"
                        style="margin-left: auto;margin-right:0;outline: none;border: none;"><i
                            class="las la-plus text-white" style="font-size:15px;"></i> New Imprest Surrender</button>
                </span>

            </div>
        </div>

        <!--alert -->
        {% include 'alerts.html' %}
        <div class="row my-2">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="m-4">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="nav-item">
                                <a href="#s-open" class="nav-link active" data-bs-toggle="tab"> Open
                                    ({{count}})</a>
                            </li>
                            <li class="nav-item">
                                <a href="#pending" class="nav-link" data-bs-toggle="tab">Pending Approval
                                    ({{pend}})</a>
                            </li>
                            <li class="nav-item">
                                <a href="#s-approve" class="nav-link" data-bs-toggle="tab">Appproved
                                    ({{counter}})</a>
                            </li>
                            <li class="nav-item">
                                <a href="#s-reject" class="nav-link" data-bs-toggle="tab">Rejected
                                    ({{reject}})</a>
                            </li>

                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="s-open">
                                <h4 class="mt-2 text-dark">Open Surrender Imprest</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Imprest No</th>
                                                <th>Date</th>
                                                <th>Created By</th>
                                                <th>Imprest Issue Doc No.</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in res %}
                                            <tr>
                                                <td>{{res.No_}}</td>
                                                <td id="rap">{{res.Date}}</td>
                                                <td>{{res.User_Id}}</td>
                                                <td>{{res.Imprest_Issue_Doc__No}}</td>
                                                <td>{{res.Status}}</td>
                                                <td>
                                                    <button class="btn btn-primary" data-bs-toggle="modal"
                                                        data-bs-target="#trainedit{{res.No_}}" data-toggle="tooltip"
                                                        data-placement="top" title="edit"> Edit <i
                                                            class="fas fa-edit"></i>
                                                    </button>
                                                    <a href="{% url 'IMPSurrender' res.No_  %}"
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View"> View <i class="far fa-eye"></i>
                                                    </a>
                                                    <div class="modal fade" id="trainedit{{res.No_}}"
                                                        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                        <div
                                                            class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h5 class="modal-title" id="staticBackdropLabel">
                                                                        Edit
                                                                        Imprest Surrender No : {{res.No_}}
                                                                    </h5>
                                                                    <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-label="Close"></button>
                                                                </div>
                                                                <div class="modal-body">
                                                                    <form class="myForm needs-validation"
                                                                        action="{% url 'CreateSurrender' %}"
                                                                        method="post" novalidate>
                                                                        {% csrf_token %}
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <label for="" class="form-label">Imprest
                                                                                    Issue
                                                                                    Document No.
                                                                                </label>
                                                                                <select class="form-select"
                                                                                    name="imprestIssueDocNo" required>
                                                                                    <option selected disabled value="">
                                                                                        Select
                                                                                        Imprest Issue Document No.
                                                                                    </option>
                                                                                    {% for res in app %}
                                                                                    <option value="{{res.No_}}">
                                                                                        {{res.No_}}-{{res.Payment_Narration}}
                                                                                    </option>
                                                                                    {% endfor %}
                                                                                </select>
                                                                                <div class="invalid-feedback">
                                                                                    Please select a valid Imprest Issue
                                                                                    Document
                                                                                    No.
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <input type="hidden" name="myAction"
                                                                                    value="modify">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <input type="hidden" name="surrenderNo"
                                                                                    value="{{res.No_}}">
                                                                            </div>
                                                                        </div>
                                                                        <div class="row">
                                                                            <div class="col-md-12">
                                                                                <label for="purpose"
                                                                                    class="form-label">Purpose</label>
                                                                                <textarea class="form-control"
                                                                                    name="purpose" rows="3"
                                                                                    required></textarea>
                                                                                <div class="invalid-feedback">
                                                                                    Purpose can't be empty.
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-danger"
                                                                        data-bs-dismiss="modal">Discard</button>
                                                                    <button type="submit" id="sasa"
                                                                        class="btn btn-primary">Submit</button>
                                                                </div>
                                                            </div>
                                                            </form>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>

                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="s-approve">
                                <h4 class="mt-2 text-dark">Approved Surrender Imprest</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Imprest No</th>
                                                <th>Date</th>
                                                <th>Created By</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in response %}
                                            <tr>
                                                <td>{{res.No_}}</td>
                                                <td id="rap">{{res.Date}}</td>
                                                <td>{{res.User_Id}}</td>
                                                <td>{{res.Status}}</td>
                                                <td>
                                                    <a href="{% url 'IMPSurrender' res.No_  %}"
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View"> View <i class="far fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="s-reject">
                                <h4 class="mt-2 text-dark">Rejected Surrender Imprest</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Imprest No</th>
                                                <th>Date</th>
                                                <th>Created By</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in rej %}
                                            <tr>
                                                <td>{{res.No_}}</td>
                                                <td id="rap">{{res.Date}}</td>
                                                <td>{{res.User_Id}}</td>
                                                <td>{{res.Status}}</td>
                                                <td>
                                                    <a href="{% url 'IMPSurrender' res.No_ %}"
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View"> View <i class="far fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="pending">
                                <h4 class="mt-2 text-dark">Pending Approval Surrender Imprest</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Imprest No</th>
                                                <th>Date</th>
                                                <th>Created By</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in pending %}
                                            <tr>
                                                <td>{{res.No_}}</td>
                                                <td id="rap">{{res.Date}}</td>
                                                <td>{{res.User_Id}}</td>
                                                <td>{{res.Status}}</td>
                                                <td>
                                                    <a href="{% url 'IMPSurrender' res.No_ %}"
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top"
                                                        title="Click to View"> View <i class="far fa-eye"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Raise Imprest Surrender
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm needs-validation" action="{% url 'CreateSurrender' %}" method="post" novalidate>
                        {% csrf_token %}
                        <div class="mb-2">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="" class="form-label">Imprest Issue Document No.
                                    </label>
                                    <select class="form-select" name="imprestIssueDocNo" required>
                                        <option selected disabled value="">Select Imprest Issue Document No.</option>
                                        {% for res in app %}
                                        <option value="{{res.No_}}">{{res.No_}}-{{res.Payment_Narration}}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Please select a valid Imprest Issue Document No.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="hidden" name="myAction" value="insert">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="form-label">Purpose</label>
                                    <textarea class="form-control" name="purpose" rows="3" required></textarea>
                                    <div class="invalid-feedback">
                                        Purpose can't be empty.
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Discard</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}