{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<section class="dash2">
    <div class="content-wrapper" style="padding-bottom: 5rem;">
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> Staff Claim <button class="btn btn-primary"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop"> <i class="las la-plus"></i> New Staff
                    Claim</button></h2>

            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">
                    <button class="btn bg-white dropdown-toggle p-3 d-flex align-items-center" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                            class="mdi mdi-calendar mr-1"></i>{{today}}
                    </button>
                </div>
            </div>
        </div>
        <!--alert -->
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success d-flex align-items-center alert-dismissible alert-success" role="alert">
            <i class="las la-check-double" style="color: white;font-size: 2rem"></i>
            <div class="a-icon mx-2">
                {{message}}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger d-flex align-items-center alert-dismissible alert-warn" role="alert">
            <i class="las la-exclamation-triangle" style="color: white;font-size: 2rem"></i>
            <div class="a-icon mx-2">
                {{message}}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="row my-2">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="m-4">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="nav-item">
                                <a href="#home" class="nav-link active" data-bs-toggle="tab">Open Staff Claim
                                    ({{count}})</a>
                            </li>
                            <li class="nav-item">
                                <a href="#c-approve" class="nav-link" data-bs-toggle="tab">Appproved Staff Claim
                                    ({{claim}})</a>
                            </li>
                            <li class="reject">
                                <a href="#c-reject" class="nav-link" data-bs-toggle="tab">Rejected Staff Claim
                                    ({{rej}})</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="home">
                                <h4 class="mt-2 text-dark">Open Staff Claim</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Claim No</th>
                                                <th>Date Created</th>
                                                <th>Apply on behalf</th>
                                                <th>Claim Type</th>
                                                <th>Due Date</th>
                                                <th>Payee</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in res %}
                                            <tr>
                                                <td>{{res.No_}}</td>
                                                <td id="rap">{{res.Time_Inserted}}</td>
                                                <td>{{res.Apply_on_behalf}}</td>
                                                <td>{{res.Claim_Type}}</td>
                                                <td>{{res.Due_Date}}</td>
                                                <td>{{res.Payee}}</td>
                                                <td>{{res.Status}}</td>
                                                <td>
                                                    <a role="button" href="#modal{{res.No_}}" data-bs-toggle="modal"
                                                        class="btn btn-success btn-icon-text"
                                                        style="background: #25CC88;">View
                                                        <i class="las la-external-link-alt" style="font-size: 1rem"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="c-approve">
                                <h4 class="mt-2 text-dark">Approved Staff Claim</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Claim No</th>
                                                <th>Claim Type</th>
                                                <th>Apply on behalf</th>
                                                <th>Payee</th>
                                                <th>Staff</th>
                                                <th>staffNo</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in response %}
                                            <tr>
                                                <td>{{res.No_}}</td>
                                                <td>{{res.Claim_Type}}</td>
                                                <td>{{res.Apply_on_behalf}}</td>
                                                <td>{{res.Payee}}</td>
                                                <td>{{res.User_Id}}</td>
                                                <td>{{res.Staff_No_}}</td>
                                                <td>{{res.Status}}</td>
                                                <td>
                                                    <a role="button" href="#modal{{res.No_}}" data-bs-toggle="modal"
                                                        class="btn btn-success btn-icon-text"
                                                        style="background: #25CC88;">View
                                                        <i class="las la-external-link-alt" style="font-size: 1rem"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="c-reject">
                                <h4 class="mt-2 text-dark">Rejected Staff Claim</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Claim No</th>
                                                <th>Claim Type</th>
                                                <th>Apply on behalf</th>
                                                <th>Payee</th>
                                                <th>Staff</th>
                                                <th>staffNo</th>
                                                <th>Status</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in reject %}
                                            <tr>
                                                <td>{{res.No_}}</td>
                                                <td>{{res.Claim_Type}}</td>
                                                <td>{{res.Apply_on_behalf}}</td>
                                                <td>{{res.Payee}}</td>
                                                <td>{{res.User_Id}}</td>
                                                <td>{{res.Staff_No_}}</td>
                                                <td>{{res.Status}}</td>
                                                <td>
                                                    <a role="button" href="#modal{{res.No_}}" data-bs-toggle="modal"
                                                        class="btn btn-success btn-icon-text"
                                                        style="background: #25CC88;">View
                                                        <i class="las la-external-link-alt" style="font-size: 1rem"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">New Imprest Requisition
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="myForm" action="{% url 'NewClaim' %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-2">
                                    <label class="form-label">Claim Type</label>
                                    <select class="form-select" aria-label="Default select example" name="claimType">
                                        <option selected>Select Claim Type</option>
                                        <option value="1">General Claim</option>
                                        <option value="2">Medical Claim</option>
                                        <option value="3">Imprest Claim</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-2">
                                    <label class="form-label">isOnBehalf</label>
                                    <select class="form-select" aria-label="Default select example" name="isOnBehalf">
                                        <option selected>Select isOnBehalf</option>
                                        <option value="True">True</option>
                                        <option value="False">False</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <label class="form-label">Account Number</label>
                                    <select class="form-select" aria-label="Default select example" disabled>
                                        <option selected>Select Account Number</option>
                                        <option value="True">True</option>
                                        <option value="False">False</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-2">
                                    <label for="responsibility" class="col-form-label">staff No</label>
                                    <input type="text" class="form-control" placeholder="none" disabled readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-2">
                                    <label for="payee" class="col-form-label">Payee</label>
                                    <input type="text" class="form-control" name="payee">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-2">
                                    <label class="form-label">Currency</label>
                                    <select class="form-select" aria-label="Default select example" disabled>
                                        <option selected>Select Currency</option>
                                        <option value="True">KSH</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-2">
                                    <label class="form-label">imprestSurrDocNo</label>
                                    <select class="form-select" aria-label="Default select example" disabled readonly>
                                        <option selected>iimprestSurrDocNo</option>
                                        <option value="True">00000001</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="mb-2">
                                    <label for="purpose" class="form-label">Purpose</label>
                                    <textarea class="form-control" name="purpose" rows="3"></textarea>
                                </div>
                            </div>
                        </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Discard</button>
                    <button type="submit" id="sasa" class="btn btn-primary">Submit</button>
                </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}