{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<section class="dash2">
    <div class="content-wrapper" style="padding-bottom: 5rem;">
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> Imprest Surrender
                {% if state == 1 %}
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop"> <i
                        class="las la-plus"></i> Surrender Lines
                    Lines</button>
                {% else %}
                <button class="btn btn-info"> <i class="las la-plus"></i> {{res.Status}}</button>
                {% endif %}
            </h2>

            <div class="d-sm-flex justify-content-xl-between align-items-center mb-2">
                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">
                    <button class="btn bg-white dropdown-toggle p-3 d-flex align-items-center" type="button"
                        id="dropdownMenuButton1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i
                            class="mdi mdi-calendar mr-1"></i>{{today}}
                    </button>
                </div>
            </div>
        </div>
        <!--alert -->
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="alert alert-success d-flex align-items-center alert-dismissible alert-success" role="alert">
            <i class="las la-check-double" style="color: white;font-size: 2rem"></i>
            <div class="a-icon mx-2">
                {{message}}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <div class="alert alert-danger d-flex align-items-center alert-dismissible alert-warn" role="alert">
            <i class="las la-exclamation-triangle" style="color: white;font-size: 2rem"></i>
            <div class="a-icon mx-2">
                {{message}}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <form class="row g-3">
                    <div class="col-md-4">
                        <label class="form-label">Surrender Number</label>
                        <input type="text" class="form-control" placeholder="{{res.No_}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">imprestIssueDocNo</label>
                        <input type="text" class="form-control" placeholder="{{res.Imprest_Issue_Doc__No}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">isOnBehalf</label>
                        <input type="text" class="form-control" placeholder="{{res.Apply_on_behalf}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">Payee</label>
                        <input type="text" class="form-control" placeholder="{{res.Payee}}" readonly>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label">User</label>
                        <input type="text" class="form-control" placeholder="{{res.User_Id}}" readonly>
                    </div>
                    <label for="inputAddress" class="form-label">purpose</label>
                    <textarea class="form-control" placeholder="{{res.Payment_Narration}}" rows="3" readonly></textarea>
            </div>
            </form>
            {% if state == 1 %}
            <div class="d-grid gap-2 my-3">
                <button class="btn btn-info" id="approveBtn" type="button">Request For Approval</button>
            </div>
            <form action="{% url 'SurrenderApprove' res.No_ %}" method="POST" class="myForm needs-validation"
                style="display:none" id="approvalForm" novalidate>
                {% csrf_token %}
                <div class="mb-3 form-floating">
                    <textarea class="form-control" id="approvalComments" name="approvalComments" rows="3"
                        required></textarea>
                    <div class="invalid-feedback">
                        Please provide approval comment.
                    </div>
                    <label for="approvalComments">Approval Comment</label>
                </div>
                <button type="submit" class="btn btn-primary">Submit Request</button>

            </form>
            {% endif %}
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <h4 class="mt-2 mx-2 text-dark">Imprest Surrender Lines</h4>
                    <div class="card-body">
                        <table id="example"
                            class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                            style="width:100%">
                            <thead>
                                <tr id="tops">
                                    <th id="long">Surrender No</th>
                                    <th>Expenditure Type </th>
                                    <th>Purpose</th>
                                    <th>Account No</th>
                                    <th>Description</th>
                                    <th>Amount</th>
                                    <th>Actual Spent</th>
                                    <th>Remaining Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in line %}
                                <tr>
                                    <td>{{res.AuxiliaryIndex1}}</td>
                                    <td>{{res.Expenditure_Type}}</td>
                                    <td>{{res.Purpose}}</td>
                                    <td>{{res.Account_No}}</td>
                                    <td>{{res.Description}}</td>
                                    <td>{{res.Amount}}</td>
                                    <td>{{res.Actual_Spent}}</td>
                                    <td>{{res.Remaining_Amount}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <h4 class="mt-2 mx-2 text-dark">Document Approvers</h4>
                    <div class="card-body">
                        <table id="example"
                            class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                            style="width:100%">
                            <thead>
                                <tr id="tops">
                                    <th id="long">Entry No</th>
                                    <th>Name</th>
                                    <th>Sequence</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for res in Approvers %}
                                <tr>
                                    <td>{{res.Entry_No_}}</td>
                                    <td>{{res.Approver_ID}}</td>
                                    <td>{{res.Sequence_No_}}</td>
                                    <td>{{res.Status}}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Raise Imprest Surrender
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm needs-validation" action="{% url 'CreateSurrenderLines' res.No_ %}"
                        method="post" novalidate>
                        {% csrf_token %}
                        <div class="mb-2"> <span class="w-name">
                                Imprest Surrender Lines:
                            </span>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="" class="form-label">Expenditure Type:</label>
                                    <select class="form-select" name="expenditureType" required>
                                        <option selected disabled value="">Select Expenditure Type</option>
                                        {% for res in type %}
                                        <option value="{{res.Code}}">{{res.Description}}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="invalid-feedback">
                                        Please Select Valid Expenditure Type.
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label for="" class="form-label">Gen Posting Type
                                        :</label>
                                    <select class="form-select" name="genPostingType" required>
                                        <option selected disabled value="">Select Gen Posting Type.</option>
                                        <option value="1">Purchase</option>
                                        <option value="2">Sale</option>
                                        <option value="3">Settlement</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Please Select Valid Posting Type.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <label class="form-label">Actual Spent</label>
                                    <input type="text" class="form-control" name="actualSpent" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Enter Actual Spent.
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label class="form-label">Payee</label>
                                    <input type="text" class="form-control" name="payee" placeholder="" required>
                                    <div class="invalid-feedback">
                                        Enter Actual Payee.
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label class="form-label">Purpose</label>
                                    <textarea class="form-control" id="" name="purpose" rows="3"></textarea>
                                    <div class="invalid-feedback">
                                        Purpose can't be Empty
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Discard</button>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}