{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<section class="dash2">
    <div class="content-wrapper">
        <div class="d-xl-flex justify-content-between align-items-start">
            <h2 class="text-dark font-weight-bold mb-2"> APPRAISAL
            </h2>

            <div class="d-sm-flex justify-content-end align-items-center mb-2">
                <div class="dropdown ml-0 ml-md-4 mt-2 mt-lg-0">
                    {% if res.Status == "Open" %}
                    <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#Attachment"> <i
                            class="las la-plus"></i> Upload Attachment</button>
                    {% endif %}
                </div>
            </div>
        </div>
        <!--alert -->
        {% include 'alerts.html' %}
        <div class="row my-3">
            <div class="col-md-3">
                <div class="card l-bg-cherry statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-file"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0" id="yesa">Appraisal No.</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{ res.AppraisalNo}}
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-blue-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-users"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Appraisal Status</h5>
                        </div>
                        {% if res.Status == "Open" %}
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Status}}
                                </h2>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-red" role="progressbar" data-width="50%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width: 50%; background: linear-gradient(to right, #a86008, #c18b39) !important;">
                            </div>
                        </div>
                        {% elif res.Status == "Pending Approval" %}
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.Status}}
                                </h2>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-yellow" role="progressbar" data-width="25%" aria-valuenow="25"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width: 75%; background: linear-gradient(to right, #a86008, #c18b39) !important;">
                            </div>
                        </div>
                        {% elif res.Status == "Released" %}
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    Approved
                                </h2>
                            </div>
                        </div>
                        <div class="progress mt-1 " data-height="8" style="height: 8px;">
                            <div class="progress-bar l-bg-green" role="progressbar" data-width="75%" aria-valuenow="75"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width: 100%; background: linear-gradient(to right, #a86008, #c18b39) !important;">
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-orange-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-calendar-alt"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Appraisee</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.AppraiseeName}}
                                </h2>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card l-bg-green-dark statCard h-100">
                    <div class="card-statistic-3 p-4">
                        <div class="card-icon card-icon-large"><i class="fas fa-dollar-sign"></i></div>
                        <div class="mb-4">
                            <h5 class="card-title mb-0">Document Stage</h5>
                        </div>
                        <div class="row align-items-center mb-2 d-flex">
                            <div class="col-md-12">
                                <h2 class="d-flex align-items-center mb-0">
                                    {{res.DocumentStage}}
                                </h2>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="row justify-content-between">
                        <div class="col-md-4">
                            <h4 class="mt-2 mx-2 text-dark">Part A: Personal Target Setting</h4>
                        </div>
                        {% if res.Status == "Open" and res.DocumentStage == 'Setting' %}
                        <div class="col-md-2">
                            <button class="btn btn-successs p-2 m-2 d-flex align-items-center" data-bs-toggle="modal"
                                data-bs-target="#goals" type="button">
                                <i class="las la-plus text-white" style="font-size:15px;"></i> Add
                            </button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <table id="example"
                            class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                            style="width:100%">
                            <thead>
                                <tr id="tops">
                                    <th id="long"> No.</th>
                                    <th>Target</th>
                                    <th>Unit of Measure</th>
                                    <th>Weight</th>
                                    {% if res.Status == "Released" and res.DocumentStage == 'Appraisal' or res.DocumentStage == 'Supervisor' %}
                                    <th>Self Rating</th>
                                    {% endif %}
                                    {% if res.DocumentStage != 'Appraisal' and res.DocumentStage != 'Setting' or res.DocumentStage == 'Supervisor' %}
                                    <th>Supervisor Rating</th>
                                    {% endif %}
                                    {% if res.Status == "Released" and res.DocumentStage == 'Appraisal' or res.DocumentStage == 'Supervisor' and Supervisor == True %}
                                    <th>Score</th>
                                    {% endif %}

                                </tr>
                            </thead>

                            <tbody>
                                {% for target in targets %}
                                <tr>
                                    <td>{{target.AppraisalLine}}</td>
                                    <td>{{target.KeyResponsibility}}</td>
                                    <td>{{target.FYTarget}}</td>
                                    <td>{{target.Weight}}</td>
                                    {% if res.Status == "Released" and res.DocumentStage == 'Appraisal' or res.DocumentStage == 'Supervisor' %}
                                    <td>{{target.SelfRating}}</td>
                                    {% endif %}
                                    {% if res.DocumentStage != 'Appraisal' and res.DocumentStage != 'Setting' or res.DocumentStage == 'Supervisor' %}
                                    <td>{{target.SupervisorRating}}</td>
                                    {% endif %}
                                    {% if res.Status == "Released" and res.DocumentStage == 'Appraisal' or res.DocumentStage == 'Supervisor' and Supervisor == True %}
                                    <td>
                                        <button class="btn btn-successs p-3 d-flex align-items-center" type="button"
                                            data-bs-toggle="modal" data-bs-target="#score{{target.AppraisalLine}}"> <i
                                                class="las la-plus"></i> Add
                                        </button>
                                    </td>
                                    {% endif %}
                                    <div class="modal fade" id="score{{target.AppraisalLine}}" data-bs-backdrop="static"
                                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                        aria-hidden="true">
                                        <div
                                            class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">
                                                        {{target.AppraisalLine}} Appraisal Score
                                                    </h5>
                                                    <button type="button" class="btn-close btn-close-white"
                                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="{% url 'FnAppraisalGoals' res.AppraisalNo %}"
                                                        method="post" novalidate>
                                                        {% csrf_token %}
                                                        <input type="hidden" name="appraisalLine"
                                                            value="{{target.AppraisalLine}}">
                                                        <input type="hidden" name="myAction" value="modify">
                                                        <input type="hidden" name="targetsSetForTheYear"
                                                            value="{{target.KeyResponsibility}}">
                                                        <input type="hidden" name="weight" value="{{target.Weight}}">
                                                        <input type="hidden" name="unitOfMeasureORPerformanceIndicator"
                                                            value="{{target.FYTarget}}">
                                                        <input type="hidden" name="unitOfMeasureORPerformanceIndicator"
                                                            value="{{target.FYTarget}}">
                                                        {% if res.Status == "Released" and res.DocumentStage == 'Appraisal' %}
                                                        <input type="hidden" name="supervisor_score"
                                                            value="{{target.SupervisorRating}}">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label class="form-label">Self Appraisal Score</label>
                                                                <input type="number" class="form-control"
                                                                    name="selfRating" id="">
                                                            </div>
                                                        </div>
                                                        {% endif %}
                                                        {% if res.Status == "Released" and res.DocumentStage == 'Supervisor' and Supervisor == True %}
                                                        <input type="hidden" name="selfRating"
                                                            value="{{target.SelfRating}}">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label class="form-label">Supervisor Appraisal
                                                                    Score</label>
                                                                <input type="number" class="form-control"
                                                                    name="supervisor_score" id="">
                                                            </div>
                                                        </div>
                                                        {% endif %}
                                                        <button type="submit"
                                                            class="btn btn-success my-3 w-100">Submit</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="row justify-content-between">
                        <div class="col-md-4">
                            <h4 class="mt-2 mx-2 text-dark">Part B: Personal Attributes</h4>
                        </div>
                        {% if res.Status == "Open" and res.DocumentStage == 'Setting' %}
                        <div class="col-md-2">
                            <form action="{% url 'FnGetAppraisalAttributes' res.AppraisalNo %}" method="post"
                                style="display: inline-block;">
                                {% csrf_token %}
                                <button class="btn  btn-success my-2" type="submit"> <i class="las la-plus text-white"
                                        style="font-size:15px;"></i> Get Attributes
                                </button>
                            </form>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <table id="example"
                            class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                            style="width:100%">
                            <thead>
                                <tr id="tops">
                                    <th>Line No.</th>
                                    <th>Attribute Description</th>
                                    {% if res.DocumentStage != 'Appraisal' and res.DocumentStage != 'Setting' %}
                                    <th>Supervisor Rating</th>
                                    {% endif %}
                                    {% if res.Status == "Released" and res.DocumentStage == 'Supervisor' and Supervisor == True %}
                                    <th>Score</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for attribute in attributes %}
                                <tr>
                                    <td>{{attribute.LineNo}}</td>
                                    <td>{{attribute.AttributeDescription}}</td>
                                    {% if res.DocumentStage != 'Appraisal' and res.DocumentStage != 'Setting' %}
                                    <td>{{attribute.SupervisorAppraisalScore}}</td>
                                    {% endif %}
                                    {% if res.Status == "Released" and res.DocumentStage == 'Supervisor' and Supervisor == True %}
                                    <td>
                                        <button class="btn btn-successs p-3 d-flex align-items-center" type="button"
                                            data-bs-toggle="modal" data-bs-target="#attribute{{attribute.LineNo}}"> <i
                                                class="las la-plus"></i> Add
                                        </button>
                                    </td>
                                    {% endif %}
                                    <div class="modal fade" id="attribute{{attribute.LineNo}}" data-bs-backdrop="static"
                                        data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                        aria-hidden="true">
                                        <div
                                            class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">
                                                        {{attribute.LineNo}} Attribute Score
                                                    </h5>
                                                    <button type="button" class="btn-close btn-close-white"
                                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form
                                                        action="{% url 'FnsupervisorAppraisalScore' res.AppraisalNo %}"
                                                        method="post" novalidate>
                                                        {% csrf_token %}
                                                        <input type="hidden" name="LineNo" value="{{attribute.LineNo}}">
                                                        <input type="hidden" name="myAction" value="modify">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label class="form-label">Supervisor Score</label>
                                                                <select class="form-select"
                                                                    name="supervisorAppraisalScore" required>
                                                                    <option selected disabled value="">--Select--
                                                                    </option>
                                                                    <option value="1">Rarely
                                                                    </option>
                                                                    <option value="2">Sometimes
                                                                    </option>
                                                                    <option value="3">Often
                                                                    </option>
                                                                    <option value="4">Most Times
                                                                    </option>
                                                                    <option value="5">Always
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <button type="submit"
                                                            class="btn btn-success my-3 w-100">Submit</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="row justify-content-between">
                        <div class="col-md-4">
                            <h4 class="mt-2 mx-2 text-dark">Part C: Training and Development Needs</h4>
                        </div>
                        {% if res.Status == "Open" and res.DocumentStage == 'Setting' %}
                        <div class="col-md-2">
                            <button class="btn  btn-successs p-2 m-2 d-flex align-items-center" data-bs-toggle="modal"
                                data-bs-target="#training" type="button"> <i class="las la-plus text-white"
                                    style="font-size:15px;"></i> Add
                            </button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <table id="example"
                            class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                            style="width:100%">
                            <thead>
                                <tr id="tops">
                                    <th>Line No.</th>
                                    <th>Training Course</th>
                                    <th>Duration</th>
                                    {% if res.DocumentStage != 'Appraisal' and res.DocumentStage != 'Setting' %}
                                    <th>Supervisor Comments</th>
                                    {% endif %}
                                    {% if res.Status == "Released" and res.DocumentStage == 'Supervisor' and Supervisor == True %}
                                    <th>Supervisor Comments</th>
                                    {% endif %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for training in trainings %}
                                <tr>
                                    <td>{{training.AppraisalLine}}</td>
                                    <td>{{training.Description}}</td>
                                    <td>{{training.Duration}}</td>
                                    {% if res.DocumentStage != 'Appraisal' and res.DocumentStage != 'Setting' %}
                                    <td>{{training.CommentsonPerformance}}</td>
                                    {% endif %}
                                    {% if res.Status == "Released" and res.DocumentStage == 'Supervisor' and Supervisor == True %}
                                    <td>
                                        <button class="btn btn-successs p-3 d-flex align-items-center" type="button"
                                            data-bs-toggle="modal" data-bs-target="#training{{training.AppraisalLine}}">
                                            <i class="las la-plus"></i> Add
                                        </button>
                                    </td>
                                    {% endif %}
                                    <div class="modal fade" id="training{{training.AppraisalLine}}"
                                        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                                        aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                        <div
                                            class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-md">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="staticBackdropLabel">
                                                        {{training.AppraisalLine}} Supervisor Comments
                                                    </h5>
                                                    <button type="button" class="btn-close btn-close-white"
                                                        data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form class="" id="AppraisalForm"
                                                        action="{% url 'FnAppraisalTrainingAndDevelopment' res.AppraisalNo %}"
                                                        method="post" novalidate>
                                                        {% csrf_token %}
                                                        <input type="hidden" name="appraisalLine"
                                                            value="{{training.AppraisalLine}}">
                                                        <input type="hidden" name="myAction" value="modify">
                                                        <input type="hidden" name="description"
                                                            value="{{training.Description}}">
                                                        <input type="hidden" name="duration"
                                                            value="{{training.Duration}}">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label for="" class="form-label">Supervisor Comments
                                                                    <span class="text-danger">*</span></label>
                                                                <textarea class="form-control"
                                                                    name="commentsBySupervisor" rows="3"
                                                                    required></textarea>
                                                            </div>
                                                        </div>
                                                        <button type="submit"
                                                            class="btn btn-success my-3 w-100">Submit</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        {% if res.DocumentStage != 'Setting' %}
        <div class="row mt-4">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="row justify-content-between">
                        <div class="col-md-4">
                            <h4 class="mt-2 mx-2 text-dark">Part D: Appraisal Comments</h4>
                        </div>
                        {% if res.Status == "Released" and res.DocumentStage == 'Appraisal' or res.DocumentStage == 'Supervisor' and Supervisor == True %}
                        <div class="col-md-2">
                            <button class="btn  btn-successs p-2 m-2 d-flex align-items-center" data-bs-toggle="modal"
                                data-bs-target="#appraisal_comments" type="button"> <i class="las la-plus text-white"
                                    style="font-size:15px;"></i> Remarks
                            </button>
                        </div>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <form class="row g-3">
                            <div class="col-12">
                                <label for="inputAddress" class="form-label">Appraisee's Comments</label>
                                <textarea class="form-control" placeholder="{{res.Employees_Remarks}}" rows="3"
                                    readonly></textarea>
                            </div>
                            {% if res.DocumentStage != 'Appraisal' and res.DocumentStage != 'Setting' %}
                            <div class="col-12">
                                <label for="inputAddress" class="form-label">Appraiser's Comments</label>
                                <textarea class="form-control" placeholder="{{res.Evaluator_s_Remarks}}" rows="3"
                                    readonly></textarea>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row my-2 py-3">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">
                            My Attachments
                        </h4>
                        <div class="row">
                            {% for data in file %}
                            <div class="col-lg-4 col-xl-3">
                                <div class="file-man-box">
                                    {% if res.Status == 'Open' %}
                                    <form action="{% url 'DeleteGeneralAttachment' data.No_  %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="docID" value="{{data.AuxiliaryIndex2}}">
                                        <input type="hidden" name="tableID" value="{{data.Table_ID}}">
                                        <button class="file-close" id="file-close"><i
                                                class="fa fa-times-circle"></i></button>
                                    </form>
                                    {% endif %}
                                    <div class="file-img-box"><img src="../../static/img/logo/f1.png" alt="icon"></div>
                                    <form action="{% url 'getDocs' data.No_ data.Table_ID %}" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="attachmentID" value="{{data.AuxiliaryIndex2}}">
                                        <input type="hidden" name="File_Name" value="{{data.File_Name}}">
                                        <input type="hidden" name="File_Extension" value="{{data.File_Extension}}">
                                        <button class="file-download mx-1"><i
                                                class="fa fa-download text-success"></i></button>
                                    </form>
                                    <div class="file-man-title">
                                        <h5 class="mb-0 text-overflow">{{data.File_Name}}.{{data.File_Extension}}</h5>
                                    </div>
                                </div>
                            </div>
                            {% empty %}
                            <p class="text-danger">
                                You have not uploaded any attachments <i class="las la-file-download"></i>
                            </p>
                            {% endfor %}

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                {% if res.Status == "Open" and res.AppraisalStatus == 'Setting' %}
                <div class="myForm my-3">
                    <form action="{% url 'FnSubmitEmployeeAppraisal' res.AppraisalNo %}" method="POST"
                        style="display: inline-block;">
                        {% csrf_token %}
                        <button class="btn btn-info" type="submit">Submit For Review</button>
                    </form>
                </div>
                {% elif res.Status == "Released" and res.DocumentStage == 'Appraisal' %}
                <div class="myForm my-3">
                    <form action="{% url 'FnSubmitAppraisalToSupervisor' res.AppraisalNo %}" method="POST"
                        style="display: inline-block;">
                        {% csrf_token %}
                        <button class="btn btn-info" type="submit">Submit For Review</button>
                    </form>
                </div>
                {% elif res.Status == "Released" and res.DocumentStage == 'Supervisor' and Supervisor == True %}
                <div class="myForm my-3">
                    <form action="{% url 'FnSubmitAppraisalToManagerial' res.AppraisalNo %}" method="POST"
                        style="display: inline-block;">
                        {% csrf_token %}
                        <button class="btn btn-info" type="submit">Submit For Review</button>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>


    <!-- Modal Appraisal goals -->
    <div class="modal fade" id="goals" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Personal Target Setting
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm" id="AppraisalForm" action="{% url 'FnAppraisalGoals' res.AppraisalNo %}"
                        method="post" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" name="appraisalLine" value="0">
                                <input type="hidden" name="myAction" value="insert">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label">Target<span class="text-danger">*</span></label>
                                <input class="form-control" type="text" name="targetsSetForTheYear">
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">Weight</label>
                                <input class="form-control" type="text" name="weight" id="">
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">Unit of Measure or Performance Indicator</label>
                                <input class="form-control" type="text" name="unitOfMeasureORPerformanceIndicator"
                                    id="">
                            </div>
                            {% if res.AppraisalStatus == 'Appraisal' %}
                            <div class="col-md-12">
                                <label class="form-label">Self Rating</label>
                                <input class="form-control" type="text" name="self_rating" value="0">
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">Supervisor Rating</label>
                                <input class="form-control" type="text" name="supervisorRating" value="0">
                            </div>
                            {% endif %}
                        </div>
                        <button type="submit" class="btn btn-success my-3 w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="training" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Training and Development Needs
                    </h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form class="myForm" id="AppraisalForm"
                        action="{% url 'FnAppraisalTrainingAndDevelopment' res.AppraisalNo %}" method="post" novalidate>
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <input type="hidden" name="appraisalLine" value="0">
                                <input type="hidden" name="myAction" value="insert">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <label class="form-label">Training Course<span class="text-danger">*</span></label>
                                <input class="form-control" type="text" name="description">
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">Duration</label>
                                <input class="form-control" type="text" name="duration" id="">
                            </div>
                        </div>
                        <button type="submit" class="btn btn-success my-3 w-100">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Modal Attachment -->
<div class="modal fade" id="Attachment" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Upload Attachment</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{% url 'AppraisalAttachments' res.AppraisalNo %}" method="post" class="myForm"
                    enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class=" mb-3">
                        <label class="form-label">Attachments</label>
                        <input class="form-control" name="attachment" type="file" multiple>
                    </div>
                    <button type="submit" class="btn btn-success my-3 w-100">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="appraisal_comments" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Appraisal Comments</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal"
                    aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="myForm needs-validation" action="{% url 'Appraisals' %}" method="post" novalidate>
                    {% csrf_token %}
                    <input type="hidden" name="appraisalNo" value="{{res.AppraisalNo}}">
                    <input type="hidden" name="myAction" value="modify">
                    <input type="hidden" name="appraisalPeriod" value="{{res.AppraisalPeriod}}">
                    <input type="hidden" name="manager_remarks" value="{{res.Comments_by_Managing_Director}}">
                    {% if res.Status == "Released" and res.DocumentStage == 'Appraisal' %}
                    <input type="hidden" name="appraiser_remarks" value="None">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="" class="form-label">Appraisee Remarks <span
                                    class="text-danger">*</span></label>
                            <textarea class="form-control" name="appraisee_remarks" rows="3" required></textarea>
                        </div>
                    </div>
                    {% elif res.Status == "Released" and res.DocumentStage == 'Supervisor' and Supervisor == True %}
                    <input type="hidden" name="appraisee_remarks" value="{{res.Employees_Remarks}}">
                    <div class="row">
                        <div class="col-md-12">
                            <label for="" class="form-label">Appraiser Remarks <span
                                    class="text-danger">*</span></label>
                            <textarea class="form-control" name="appraiser_remarks" rows="3" required></textarea>
                        </div>
                    </div>
                    {% endif %}
                    <button type="submit" id="sasa" class="btn btn-success my-3 w-100">Submit</button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}