{% load bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
    <title>KMPDC</title>
    <!-- all custom styles -->
    {% block styles %}
    {% bootstrap_css %}
    {% include 'links/top_css.html' %}
    {% endblock %}
    <!-- end -->

    <!-- all cdn -->
    {% include 'links/cdn.html' %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- end -->
</head>

<body onload="myFunction()">
    {% block content %}
    {% endblock %}

    <!-- js cdn -->
    {% include 'links/js_cdn.html' %}
    <!-- end -->
    {% block scripts %}
    <script src="../../static/js/main.js"></script>
    {% bootstrap_javascript %}
    {% endblock %}
</body>

</html>