{% extends 'offcanvas.html' %}
{% load bootstrap5 %}
{% load static %}
{% block main %}
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
    crossorigin="anonymous"></script>
<section class="dash2">
    <div class="content-wrapper general-bg" style="padding-bottom: 5rem;">
        <div class="row" id="proBanner">
            <div class="col-12">
                <span class="d-flex align-items-center purchase-popup">
                    <img src="../../../static/img/logo/fav.png" width="70px" class="img-fluid" alt="" srcset="">
                    <h2 class="text-dark font-weight-bold ml-3">Document Approvals</h2>
                    <button class="btn btn-success align-items-center p-3"
                        style="margin-left: auto;margin-right:0;outline: none;border: none;">{{today}}</button>
                </span>

            </div>
        </div>
        <!--alert -->
        {% include 'alerts.html' %}
        <div class="row my-2">
            <div class="col-md-12">
                <div class="card" id="d-card">
                    <div class="m-4">
                        <ul class="nav nav-tabs" id="myTab">
                            <li class="nav-item">
                                <a href="#home" class="nav-link active" data-bs-toggle="tab">Documents Pending Your
                                    Approval
                                    ({{count}})</a>
                            </li>
                            <li class="nav-item">
                                <a href="#profile" class="nav-link" data-bs-toggle="tab">Documents You Approved
                                    ({{countApproved}})</a>
                            </li>
                            <li class="nav-item">
                                <a href="#reject" class="nav-link" data-bs-toggle="tab">Documents You Rejected
                                    ({{countReject}})</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade show active" id="home">
                                <h4 class="mt-2 text-dark">Documents Pending Your Approval</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Document No</th>
                                                <th>Document Type</th>
                                                <th>Sender</th>
                                                <th>Status</th>
                                                <th>Due Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in res %}
                                            <tr>
                                                <td>{{res.Document_No_}}</td>
                                                <td id="rap">{{res.Document_Type}}</td>
                                                <td>{{res.Sender_ID}}</td>
                                                <td>{{res.Status}}</td>
                                                <td>{{res.Due_Date}}</td>
                                                <td>
                                                    <a href="{% url 'ApproveData' res.Document_No_ %}"
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top" title="View"
                                                        style="background: #25CC88;"><i class="fa fa-table"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="profile">
                                <h4 class="mt-2">Approved Documents</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Document No</th>
                                                <th>Document Type</th>
                                                <th>Sender</th>
                                                <th>Status</th>
                                                <th>Due Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in approved %}
                                            <tr>
                                                <td>{{res.Document_No_}}</td>
                                                <td id="rap">{{res.Document_Type}}</td>
                                                <td>{{res.Sender_ID}}</td>
                                                <td>{{res.Status}}</td>
                                                <td>{{res.Due_Date}}</td>
                                                <td>
                                                    <a href="{% url 'ApproveData' res.Document_No_ %}"
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top" title="View"
                                                        style="background: #25CC88;"><i class="fa fa-table"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="reject">
                                <h4 class="mt-2">Rejected Documents</h4>
                                <div class="card-body">
                                    <table id="example"
                                        class="display table table-striped table-bordered dt-responsive table-responsive-lg"
                                        style="width:100%">
                                        <thead>
                                            <tr id="tops">
                                                <th id="long">Document No</th>
                                                <th>Document Type</th>
                                                <th>Sender</th>
                                                <th>Status</th>
                                                <th>Due Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for res in reject %}
                                            <tr>
                                                <td>{{res.Document_No_}}</td>
                                                <td id="rap">{{res.Document_Type}}</td>
                                                <td>{{res.Sender_ID}}</td>
                                                <td>{{res.Status}}</td>
                                                <td>{{res.Due_Date}}</td>
                                                <td>
                                                    <a href="{% url 'ApproveData' res.Document_No_ %}"
                                                        class="btn btn-success btn-icon-text" type="button"
                                                        data-toggle="tooltip" data-placement="top" title="View"
                                                        style="background: #25CC88;"><i class="fa fa-table"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}